@import "2013/_common"

body.index-splash
  background: #370C13 url("/images/gloves-large2.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: top center
  #nav-mini
    display: none
  #nav-mini #user-nav-mini
    display: none

  .signup-form
    text-align: center
    padding: 25px 0
    margin-bottom: 20px
    input[type=email]
      font-size: 18px
      height: 66px
      vertical-align: middle
      margin: 0
      width: 500px
      padding: 20px
      margin-right: -5px
      margin-bottom: 10px
      border-radius: 6px
      border-top-right-radius: 0px
      border-bottom-right-radius: 0px
      border: none

    input[type=submit]
      margin: 0
      margin-bottom: 10px
      border-radius: 4px
      border-top-left-radius: 0px
      border-bottom-left-radius: 0px
      font-weight normal
      font-size 14px
