.DS_Store
.idea
.monitor
node_modules
tmp/*
config/secrets.coffee
config/secrets.js
.npm-debug.log
testuser.md
scripts/restore.sh
*.sublime-workspace
restore.sh
scripts/tmp/*
.vagrant
/repos
/id_nko4*
