extends ../layout-2013

block body
  - activeNav = "teams"
  .contained
    include ../index/_header-mini

  .inner-page.container.form-page.teams-page
    form.edit-team( method='POST', action='/teams/' + team )
      input( type='hidden', name='_method', value='PUT' )

      if coding
        h1 Entry
        #entry
          entry = team.entry
          include ../entries/form

      h1 Edit Team
      #team
        include form

      p.actions
        input.btn.btn-primary( type='submit', value='Update' )
        | &nbsp;&nbsp;&nbsp;
        a( href='/teams/' + team ) Cancel
        | &nbsp;
        | or
        | &nbsp;
        a.scary.remove( href='#' ) Delete?

    form.delete( method='POST', action='/teams/' + team )
      != _csrf
      input( type='hidden', name='_method', value='DELETE' )
      p Are you sure? This can't be undone.
      input.btn.btn-danger.btn-primary( type='submit', value='Delete' )
      | &nbsp;
      a( href='#' ) Cancel
