extends ../layout-2013

block body
  - activeNav = "people"
  include ../index/_header

  .inner-page.container
    form( method='POST', action='/teams/' + team )
      input( type='hidden', name='_method', value='PUT' )

      if coding
        h1 Entry
        #entry
          entry = team.entry
          include ../entries/form

      h1 Team
      #team
        include form

      input( type='submit', value='Update' )
      |
      a( href='/teams/' + team ) Cancel
      |  or
      a.scary.remove( href='#' ) Delete?

    form.delete( method='POST', action='/teams/' + team )
      != _csrf
      input( type='hidden', name='_method', value='DELETE' )
      p Are you sure? This can't be undone.
      input.scary( type='submit', value='Delete' )
      |
      a( href='#' ) Cancel
