- title('Register')

extends ../layout-2013

block body
  - activeNav = 'registration'
  include ../index/_header-mini

  .inner-page.container.form-page
    h1 Register a Team

    p
      | Not sure? No worries! You can update these details (including membership
      | changes) after registration too.

    form( method='POST', action='/teams' )
      include form
      input.btn.btn-primary.btn-large( type='submit', value='Register' )
