- title('Register')

extends ../layout-2013

block body
  - activeNav = 'registration'
  .contained
    include ../index/_header-mini

  .inner-page.container.form-page
    .row
      .col-lg-8.col-sm-8.col-md-8
        h1 Register a Team

        p
          | Not sure? No worries! You can update these details (including membership
          | changes) after registration too.

        form.autofocus( method='POST', action='/teams' )
          include form
          input.btn.btn-primary.btn-large( type='submit', value='Register' )

      .col-lg-4.col-sm-4.col-md-4
        include ../index/_sidebar
