extends ../layout-2013

block body
  - title('Registration not yet open')

  - activeNav = 'registration'
  include ../index/_header-mini

  .inner-page.container
    .row
      .col-lg-8.col-sm-8.col-md-8
        :markdown
          # Registration will open soon

          Sorry, registration is currently closed. <a href="/#subscribe">Sign up</a> to our
          email list and we'll let you know the second it is open.

          Also follow [@node_knockout], and watch [the blog] for more information about
          competition weekend!

          [@node_knockout]: https://twitter.com/node_knockout
          [the blog]: http://blog.nodeknockout.com

      .col-lg-4.col-sm-4.col-md-4
        include ../index/_sidebar