h1#votes Votes

h2 Your Vote
- if (req.user && team.includes(req.user))
  p.sorry Team members may not vote on their own teams.
- else
  include ../votes/form
  - if (req.user)
    p: a( href='/people/' + req.user + '#votes' )  View all your votes &rarr;


if votes.length || publicVotes.length
  h2 Other Votes
  if publicVotes.length
    ul.votes
      li.vote
        .info.hearts
          - each vote in publicVotes
            img.heart( src='/images/iframe/heart.png' )
            | &nbsp;
          |  (#{publicVotes.length})
        .people
          - each vote in publicVotes
            - if (vote.person)
              a( href='/people/' + vote.person, title=vote.person.login )
                img.avatar( src=avatar_url(vote.person, 30), style="width:30px;height:30px;" )
              | &nbsp;
  if shouldShowVoteList
    ul.votes
      if canSeeVotes
        each vote in votes
          include ../votes/vote
      else
        li Votes are hidden.
          a( href='#votes' ) Vote on this entry
          |  to reveal them.
