!!! 5
html
  head
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
    meta( name='viewport', content='width=1024' )
    meta( name='_csrf', content=req.session._csrf )
    meta( name="description", content="Node Knockout is a 48-hour hackathon featuring node.js. It's an online, virtual competition with contestants worldwide.")
    title
      - if (title())
        = title()
        |  &mdash;
      | Node.js Knockout | Nov 9-11th, 2013

    != nap.css('2013')

    script _gaq = [['_setAccount', 'UA-16773586-1'], ['_trackPageview']];
    script( async=true, src='//www.google-analytics.com/ga.js' )
    script( src='/javascripts/vendor/modernizr-2.5.3.min.js' )
    // script( src='/socket.io/socket.io.js' )

    script( src='//use.typekit.net/unt8jhx.js' )
    script( type='text/javascript' )
      try{Typekit.load();}catch(e){}

    | <meta property="og:title" content="#{title()}"/>
    | <meta property="og:site_name" content="Node.js Knockout 2013"/>
    | <meta property="og:image" content="http://nodeknockout.com/images/facebook-img2.png"/>
    | <meta property="og:description" content="Node Knockout is a 48-hour hackathon featuring node.js. It's an online, virtual competition with contestants worldwide.">

  body#page(class=view.replace(/\//g,'-'))
    - if (flash.info)
      #flash
        .alert.alert-info
          = flash.info
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

    block body

    != nap.js('2013')
