#header.header-mini.affix
  .affix-placeholder
  .affix-inner
    .header
      .container
        .header-inner.row
          .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
            .gloves
            a.logo( href="/" ) Node Knockout
            a.logo-sm( href="/" ) node.js ko

        include _nav