#header.affixable.affix-top
  .affix-placeholder
  .affix-inner
    .header
      #header-gloves.container
        //- include _user_nav
        .header-inner.row
          .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
            .gloves
            a.logo( href="/" ) Node Knockout

#landing-nav
  include _nav
