#header.affixable.affix-top
  .affix-placeholder
  .affix-inner
    .header
        if voting
          #header-gloves
            .header-inner.row.voting
              .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
                a.logo( href="/" ) Node Knockout
                if req.user
                  a.btn.btn-primary.votenow(href="/judges/dashboard") Start voting now
                else
                  a.btn.btn-primary.votenow(href="/login?returnTo=/judges/dashboard") Start voting now

        else
          #header-gloves.container
            include _user_nav
            .header-inner.row
              .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
                .gloves
                a.logo( href="/" ) Node Knockout

if !voting
  #landing-nav
    include _nav
