#header.affixable.affix-top
  .affix-placeholder
  .affix-inner
    .header
      #header-gloves.container
        ul.account-nav
          if req.user
            li
              a(href="/logout") Sign Out
          else
            li(class=(activeNav === 'login' ? 'active' : ''))
              a(href="/login") Sign In

        .header-inner.row
          .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
            .gloves
            a.logo( href="/" ) Node Knockout
            a.logo-sm( href="/" ) node.js ko

        include _nav
