.nko-dates
  h4
    | IMPORTANT DATES TO REMEMBER
  .date-row
    .date-label
      | OPEN FOR REGISTRATION
    .date-date
      | SEPTEMBER 17, 2013
  .date-row
    .date-label
      | COMPETITION DATES
    .date-date
      | NOVEMBER 8-10, 2013
  .date-row
    .date-label
      | JUDGING PERIOD
    .date-date
      | NOVEMBER 11-17, 2013
  .date-row
    .date-label
      | WINNERS ANNOUNCED
    .date-date
      | NOVEMBER 18, 2013

  .clear
