.nko-dates
  h4
    | IMPORTANT DATES
  .date-row
    .date-label
      | REGISTRATION
    .date-date
      | SEP 17
  .date-row
    .date-label
      | COMPETITION
    .date-date
      | NOV 9-11 UTC
  .date-row
    .date-label
      | JUDGING
    .date-date
      | NOV 11-17
  .date-row
    .date-label
      | WINNERS
    .date-date
      | NOV 18

  .clear
