.nko-dates
  h4
    | 2015 IMPORTANT DATES
  .date-row
    .date-label
      | REGISTRATION
    .date-date
      | SEP 15
  .date-row
    .date-label
      | COMPETITION
    .date-date
      | NOV 7-8 UTC
  .date-row
    .date-label
      | JUDGING
    .date-date
      | NOV 9-15
  .date-row
    .date-label
      | WINNERS
    .date-date
      | NOV 16

  .clear
