.nav-wrapper
  .nav-inner.row.navbar-default
    .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".bs-navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      nav.collapse.navbar-collapse.bs-navbar-collapse(role="navigation")
        - if(typeof(activeNav) === "undefined")
          - var activeNav = "";
        ul.nav.navbar-nav

          li(class=(activeNav === 'nko2013' ? 'active' : ''))
            a(href="/") NKO 2013

          if req.myTeam
            li(class=(activeNav === 'registration' ? 'active' : ''))
              a(href="/teams/mine") My Team
          else
            li(class=(activeNav === 'registration' ? 'active' : ''))
              a(href="/teams/new") Registration

          //- only show services page when the competition is happening
          if coding
            li(class=(activeNav === 'services' ? 'active' : ''))
              a(href="/teams/new") Services

          li(class=(activeNav === 'prizes' ? 'active' : ''))
            a(href="/prizes") Prizes

          li(class=(activeNav === 'jobs' ? 'active' : ''))
            a(href="/jobs") Jobs

          li(class=(activeNav === 'judges' ? 'active' : ''))
            a(href="/judges") Judges

          li(class=(activeNav === 'sponsors' ? 'active' : ''))
            a(href="/sponsors") Sponsors

          li(class=(activeNav === 'rules' ? 'active' : ''))
            a(href="/rules") Rules

          //- li(class=(activeNav === 'resources' ? 'active' : ''))
          //-   a(href="/resources") Resources

          li(class=(activeNav === 'blog' ? 'active' : ''))
            a(href="/blog") Blog

