.nav-wrapper.row
  .container
    .nav-inner.row.navbar-default
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".bs-navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      nav.collapse.navbar-collapse.bs-navbar-collapse.pull-right(role="navigation")
        ul.nav.navbar-nav(data-nav-active=active_nav)
          li
            a(href="/teams/new") Registration
          li
            a(href="/prizes") Prizes
          li
            a(href="/judges") Judges
          li
            a(href="/sponsors") Sponsors
          li
            a(href="/rules") Rules
          li
            a(href="/resources") Resources
          li
            a(href="/blog") Blog
