.nav.row
  .container
    .nav-inner.row
      .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
        a(href="#") Registration
        a(href="#") Prizes
        a(href="#") Judges
        a(href="#") Sponsors
        a(href="#") Rules
        a(href="#") Resources
        a(href="#") Blog