#nav.nav-wrapper
  .nav-inner.row.navbar-default
    .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".bs-navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      nav.collapse.navbar-collapse.bs-navbar-collapse(role="navigation")
        - if(typeof(activeNav) === "undefined")
          - var activeNav = "";
        ul.nav.navbar-nav

          li(class=(activeNav === 'nko2013' ? 'active' : ''))
            a.nav-item(href="/") NKO 2013

          if !req.myTeam
            li(class=(activeNav === 'registration' ? 'active' : ''))
              a.nav-item(href="/teams/new") Registration

          li(class=(activeNav === 'prizes' ? 'active' : ''))
            a.nav-item(href="/prizes") Prizes

          li(class=(activeNav === 'judges' ? 'active' : ''))
            a.nav-item(href="/judges") Judges

          li(class=(activeNav === 'sponsors' ? 'active' : ''))
            a.nav-item(href="/sponsors") Sponsors

          li(class=(activeNav === 'jobs' ? 'active' : ''))
            a.nav-item(href="/jobs") Jobs

          li
            a.nav-item(href="/about", class="dropdown-toggle", data-toggle="dropdown") About
              span(class="caret")

            ul(class="dropdown-menu", role="menu")
              li
                a(href="/rules") Rules
              li
                a(href="/locations") Locations
              li
                a(href="/resources") Resources
              li
                a(href="/about") About Us

          li(class=(activeNav === 'blog' ? 'active' : ''))
            a.nav-item(href="/blog") Blog

