.prizes-widget
  .tabbable.tabs-left
    ul.nav.nav-tabs
      li.active
        a(href="#prize-team", data-toggle="tab")
          h2 Team Winner
          p Team with the best overall score
      li
        a(href="#prize-solo", data-toggle="tab")
          h2 Solo Winner
          p One-person team with the best overall score
      li
        a(href="#prize-innovation", data-toggle="tab")
          h2 Innovation
          p Team with the highest innovation score
      li
        a(href="#prize-design", data-toggle="tab")
          h2 Design
          p Team with the highest design score
      li
        a(href="#prize-utility-fun", data-toggle="tab")
          h2 Utility/Fun
          p Team with the highest utility / fun score
      li
        a(href="#prize-completeness", data-toggle="tab")
          h2 Completeness
          p Team with the highest completeness score
      li
        a(href="#prize-popularity", data-toggle="tab")
          h2 Popularity
          p Team with the most votes


    .tab-content
      #prize-team.tab-pane.active
        
        ul.images
          //- li: img(src="/images/prizes/goldtrophy.jpg")
          li: img(src="/images/prizes/gloves.jpg")
          li: img(src="/images/prizes/trunks.jpg")
          li: img(src="/images/prizes/segmentio.jpg")
          li: img(src="/images/prizes/twilio.jpg")
          li: img(src="/images/prizes/goinstant.jpg")
          li: img(src="/images/prizes/amazonaws.jpg")
          li: img(src="/images/prizes/circleci.jpg")
          li: img(src="/images/prizes/kissmetrics.jpg")
          li: img(src="/images/prizes/dashable.jpg")
          li: img(src="/images/prizes/digitalocean.jpg")
          li: img(src="/images/prizes/mongolab.jpg")
          li: img(src="/images/prizes/firebase.jpg")
          li: img(src="/images/prizes/github.jpg")
          li: img(src="/images/prizes/scoutzie.jpg")
          li: img(src="/images/prizes/uber.jpg")
          li: img(src="/images/prizes/pluralsights.jpg")
          li: img(src="/images/prizes/sentry.jpg")
          li: img(src="/images/prizes/hackermonthly.jpg")
          li: img(src="/images/prizes/oreilly.jpg")
          li: img(src="/images/prizes/coderwall.jpg")

        h2
          | Team Winner
          em 
            | / best overall score

        ul
          li: strong $2,000 Apple Store gift card
          li
            strong Node Knockout Boxing Gloves & Trunks
            i.icon-users(title="one per team member")
          li
            .with-popover
              strong: a(href="http://segment.io", target="_blank") Segment.io
              |  - <a href="http://www.themacallan.com/the-whisky/fine-oak/15-years-old/" target="_blank">Macallan 15</a> yr single malt
              .popover-content(style="display:none")
                p You've worked for a weekend, but the scotch has been here for years!
                .highlight
                  pre
                    | process.on('uncaughtException', function (err) {
                    |   team.drinkScotch();
                    |   throw err;
                    | });

          li
            .with-popover
              strong: a(href="http://twilio.com", target="_blank") Twilio
              |  - Han Solo Replica Blaster
              
              i.icon-users(title="one per team member")
              .popover-content(style="display:none")
                img(src="http://cl.ly/image/3R45291u2921/content", width="250", height="164")
          li
            strong: a(href="http://goinstant.com", target="_blank") GoInstant
            |  - Lifetime free account
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://aws.amazon.com/start-ups/", target="_blank") Amazon Web Services
            |  - $3,000 in credits
          li
            strong: a(href="http://circleci.com", target="_blank") CircleCI
            |  - 6 containers, 6mo subscription ($1,800 value)
          li
            strong: a(href="http://kissmetrics.com", target="_blank") KISSmetrics
            |  - 6mo subscription ($1,500 value)
          li
            strong: a(href="http://dashable.com", target="_blank") Dashable
            |  - 12mo Agency subscription ($1,188 value) 
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://digitalocean.com", target="_blank") Digital Ocean
            |  - $1,000 in credits
          li
            strong: a(href="http://mongolab.com", target="_blank") MongoLab
            |  - $1,000 in credits
          li
            strong: a(href="http://firebase.com", target="_blank") Firebase
            |  - 6mo Bonfire plan ($900 value)
          li
            strong: a(href="http://github.com", target="_blank") Github
            |  - 1yr silver plan ($600 value)
          li
            strong: a(href="http://scoutzie.com", target="_blank") Scoutzie
            |  - $400 in credits towards your first design project
          li
            strong: a(href="http://uber.com", target="_blank") Uber
            |  - $400 in credits
          li
            strong: a(href="http://pluralsights.com", target="_blank") PluralSights
            |  - 1yr subscription ($299 value)
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://getsentry.com", target="_blank") Sentry
            |  - $250 in credits
          li
            strong: a(href="http://hackermonthly.com", target="_blank") Hacker Monthly
            |  - 1yr print subscription ($109 value)
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://oreilly.com", target="_blank") O'Reilly Media
            |  - O'Reilly eBook of your choosing
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://twilio.com", target="_blank") Twilio
            |  - <a href="http://www.manning.com/cantelon/">NodeJS in Action</a> eBook
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://coderwall.com", target="_blank") coderwall
            |  - 2013 Overall winner achievement badge
            i.icon-users(title="one per team member")
          
        
      #prize-solo.tab-pane
        ul.images
          //- li: img(src="/images/prizes/goldtrophy.jpg")
          li: img(src="/images/prizes/gloves.jpg")
          li: img(src="/images/prizes/trunks.jpg")
          li: img(src="/images/prizes/gojs.jpg")
          li: img(src="/images/prizes/segmentio.jpg")
          li: img(src="/images/prizes/goinstant.jpg")
          li: img(src="/images/prizes/amazonaws.jpg")
          li: img(src="/images/prizes/digitalocean.jpg")
          li: img(src="/images/prizes/kissmetrics.jpg")
          li: img(src="/images/prizes/mongolab.jpg")
          li: img(src="/images/prizes/circleci.jpg")
          li: img(src="/images/prizes/firebase.jpg")
          li: img(src="/images/prizes/dashable.jpg")
          li: img(src="/images/prizes/github.jpg")
          li: img(src="/images/prizes/sentry.jpg")
          li: img(src="/images/prizes/scoutzie.jpg")
          li: img(src="/images/prizes/uber.jpg")
          li: img(src="/images/prizes/hackermonthly.jpg")
          li: img(src="/images/prizes/twilio.jpg")
          li: img(src="/images/prizes/oreilly.jpg")
          li: img(src="/images/prizes/coderwall.jpg")

        h2
          | Solo Winner
          em 
            | / best overall score for team of 1

        ul
          li: strong $500 Apple Store gift card          
          li: strong Node Knockout Boxing Gloves & Trunks
          li
            strong: a(href="http://www.nwoods.com/", target="_blank") Northwoods Software
            |  - Playstation 4 (US) or gift certificate ($500 value)
          li
            .with-popover
              strong: a(href="http://segment.io", target="_blank") Segment.io
              |  - <a href="http://www.betabrand.com/mens/hoodies/golden-disco-hoodie.html" target="_blank">Golden</a> 
              | or <a href="http://www.betabrand.com/womens/tops/womens-disco-hoodie.html" target="_blank">Silver</a> Hoodie
              .popover-content(style="display:none")
                p Warm on the inside. Warmer on the outside.
                .highlight
                  pre
                    | hoodie.emit('swag');
          
          li
            strong: a(href="http://goinstant.com", target="_blank") GoInstant
            |  - Lifetime free account            
          li
            strong: a(href="http://www.nwoods.com/", target="_blank") Northwoods Software
            |  - OEM License for GoJS (HTML5) ($2,795 value)
          li
            strong: a(href="http://aws.amazon.com/start-ups/", target="_blank") Amazon Web Services
            |  - $2,000 in credits
          li
            strong: a(href="http://digitalocean.com", target="_blank") Digital Ocean
            |  - $1,000 in credits
          li
            strong: a(href="http://kissmetrics.com", target="_blank") KISSmetrics
            |  - 6mo subscription ($1,500 value)
          li
            strong: a(href="http://mongolab.com", target="_blank") MongoLab
            |  - $1,000 in credits
          li
            strong: a(href="http://circleci.com", target="_blank") CircleCI
            |  - 6 containers, 3mo subscription ($900 value)
          li
            strong: a(href="http://firebase.com", target="_blank") Firebase
            |  - 6mo Bonfire plan ($900 value)
          li
            strong: a(href="http://dashable.com", target="_blank") Dashable
            |  - 18mo Freelancer edition ($702 value)             
          li
            strong: a(href="http://github.com", target="_blank") Github
            |  - 1yr bronze plan ($300 value)
          li
            strong: a(href="http://getsentry.com", target="_blank") Sentry
            |  - $250 in credits
          li
            strong: a(href="http://scoutzie.com", target="_blank") Scoutzie
            |  - $100 in credits towards your first design project
          li
            strong: a(href="http://uber.com", target="_blank") Uber
            |  - $100 in credits
          li
            strong: a(href="http://hackermonthly.com", target="_blank") Hacker Monthly
            |  - 1yr digital subscription ($29 value)            
          li
            strong: a(href="http://oreilly.com", target="_blank") O'Reilly Media
            |  - O'Reilly eBook of your choosing            
          li
            strong: a(href="http://twilio.com", target="_blank") Twilio
            |  - <a href="http://www.manning.com/cantelon/" target="_blank">NodeJS in Action</a> eBook
          li
            strong: a(href="http://coderwall.com", target="_blank") coderwall
            |  - 2013 Solo winner achievement badge            
          

      #prize-innovation.tab-pane
        ul.images
          //- li: img(src="/images/prizes/silvertrophy.jpg")
          li: img(src="/images/prizes/trunks.jpg")
          li: img(src="/images/prizes/segmentio.jpg")
          li: img(src="/images/prizes/goinstant.jpg")
          li: img(src="/images/prizes/kissmetrics.jpg")
          li: img(src="/images/prizes/digitalocean.jpg")
          li: img(src="/images/prizes/circleci.jpg")
          li: img(src="/images/prizes/firebase.jpg")
          li: img(src="/images/prizes/mongolab.jpg")
          li: img(src="/images/prizes/sentry.jpg")
          li: img(src="/images/prizes/dashable.jpg")
          li: img(src="/images/prizes/scoutzie.jpg")
          li: img(src="/images/prizes/hackermonthly.jpg")
          li: img(src="/images/prizes/oreilly.jpg")
          li: img(src="/images/prizes/twilio.jpg")
          li: img(src="/images/prizes/coderwall.jpg")

        h2
          | Innovation Winner
          em 
            | / best score for category of "Innovation"

        ul
          li: strong $1,000 Apple Store gift card          
          li
            strong Node Knockout Boxing Trunks
            i.icon-users(title="one per team member")          
          li
            strong MYSTERY PRIZE #1
          li
            .with-popover
              strong: a(href="http://segment.io", target="_blank") Segment.io
              |  - Week Supply of <a href="https://campaign.soylent.me/soylent-free-your-body" target="_blank">Soylent</a> ($65 value)
              .popover-content(style="display:none")
                p The latest innovation in food -- too bad the 0.10 edition will break old style streams.

          li
            strong: a(href="http://goinstant.com", target="_blank") GoInstant
            |  - Lifetime free account
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://kissmetrics.com", target="_blank") KISSmetrics
            |  - 6mo subscription ($1,500 value)
          li
            strong: a(href="http://digitalocean.com", target="_blank") Digital Ocean
            |  - $1,000 in credits
          li
            strong: a(href="http://circleci.com", target="_blank") CircleCI
            |  - 6 containers, 3mo subscription ($900 value)        
          li
            strong: a(href="http://firebase.com", target="_blank") Firebase
            |  - 6mo Bonfire plan ($900 value)
          li
            strong: a(href="http://mongolab.com", target="_blank") MongoLab
            |  - $600 in credits
          li
            strong: a(href="http://getsentry.com", target="_blank") Sentry
            |  - $250 in credits
          li
            strong: a(href="http://dashable.com", target="_blank") Dashable
            |  - 3mo Studio edition ($117 value)
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://scoutzie.com", target="_blank") Scoutzie
            |  - $100 in credits towards your first design project
          li
            strong: a(href="http://hackermonthly.com", target="_blank") Hacker Monthly
            |  - 1yr digital subscription ($29 value)
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://oreilly.com", target="_blank") O'Reilly Media
            |  - O'Reilly eBook of your choosing            
          li
            strong: a(href="http://twilio.com", target="_blank") Twilio
            |  - <a href="http://www.manning.com/cantelon/">NodeJS in Action</a> eBook
          li
            strong: a(href="http://coderwall.com", target="_blank") coderwall
            |  - 2013 Innovation winner achievement badge            
          
      #prize-design.tab-pane
        ul.images
          //- li: img(src="/images/prizes/silvertrophy.jpg")
          li: img(src="/images/prizes/trunks.jpg")
          li: img(src="/images/prizes/trumaker.jpg")
          li: img(src="/images/prizes/segmentio.jpg")
          li: img(src="/images/prizes/goinstant.jpg")
          li: img(src="/images/prizes/kissmetrics.jpg")
          li: img(src="/images/prizes/digitalocean.jpg")
          li: img(src="/images/prizes/circleci.jpg")
          li: img(src="/images/prizes/firebase.jpg")
          li: img(src="/images/prizes/mongolab.jpg")
          li: img(src="/images/prizes/sentry.jpg")
          li: img(src="/images/prizes/dashable.jpg")
          li: img(src="/images/prizes/scoutzie.jpg")
          li: img(src="/images/prizes/hackermonthly.jpg")
          li: img(src="/images/prizes/oreilly.jpg")
          li: img(src="/images/prizes/twilio.jpg")
          li: img(src="/images/prizes/coderwall.jpg")

        h2
          | Design Winner
          em 
            | / best score for category of "Design"

        ul
          li: strong $1,000 Apple Store gift card          
          li
            strong Node Knockout Boxing Trunks
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://trumaker.com", target="_blank") Trumaker
            |  - Custom tailored shirt
            i.icon-users(title="one per team member")
          li
            .with-popover
              strong: a(href="http://segment.io", target="_blank") Segment.io
              |  - Etsy Gift Certificate ($75)
              .popover-content(style="display:none")
                h3 The Ian Storm Taylor Memorial Etsy Award
                p Switch from <code>/etc</code> to Etsy with a $75 gift certificate for some vintage designer threads. Comes with a free consultation from <strong>ianstormtaylor</strong>, Segment.io's least fashion impaired member.
          li
            strong: a(href="http://goinstant.com", target="_blank") GoInstant
            |  - Lifetime free account
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://kissmetrics.com", target="_blank") KISSmetrics
            |  - 6mo subscription ($1,500 value)
          li
            strong: a(href="http://digitalocean.com", target="_blank") Digital Ocean
            |  - $1,000 in credits
          li
            strong: a(href="http://circleci.com", target="_blank") CircleCI
            |  - 6 containers, 3mo subscription ($900 value)        
          li
            strong: a(href="http://firebase.com", target="_blank") Firebase
            |  - 6mo Bonfire plan ($900 value)
          li
            strong: a(href="http://mongolab.com", target="_blank") MongoLab
            |  - $600 in credits
          li
            strong: a(href="http://getsentry.com", target="_blank") Sentry
            |  - $250 in credits
          li
            strong: a(href="http://dashable.com", target="_blank") Dashable
            |  - 3mo Studio edition ($117 value)
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://scoutzie.com", target="_blank") Scoutzie
            |  - $100 in credits towards your first design project
          li
            strong: a(href="http://hackermonthly.com", target="_blank") Hacker Monthly
            |  - 1yr digital subscription ($29 value)
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://oreilly.com", target="_blank") O'Reilly Media
            |  - O'Reilly eBook of your choosing            
          li
            strong: a(href="http://twilio.com", target="_blank") Twilio
            |  - <a href="http://www.manning.com/cantelon/" target="_blank">NodeJS in Action</a> eBook
          li
            strong: a(href="http://coderwall.com", target="_blank") coderwall
            |  - 2013 Design winner achievement badge            
          

      #prize-utility-fun.tab-pane
        ul.images
          //- li: img(src="/images/prizes/silvertrophy.jpg")
          li: img(src="/images/prizes/trunks.jpg")
          li: img(src="/images/prizes/segmentio.jpg")
          li: img(src="/images/prizes/goinstant.jpg")
          li: img(src="/images/prizes/kissmetrics.jpg")
          li: img(src="/images/prizes/digitalocean.jpg")
          li: img(src="/images/prizes/circleci.jpg")
          li: img(src="/images/prizes/firebase.jpg")
          li: img(src="/images/prizes/mongolab.jpg")
          li: img(src="/images/prizes/sentry.jpg")
          li: img(src="/images/prizes/dashable.jpg")
          li: img(src="/images/prizes/scoutzie.jpg")
          li: img(src="/images/prizes/hackermonthly.jpg")
          li: img(src="/images/prizes/oreilly.jpg")
          li: img(src="/images/prizes/twilio.jpg")
          li: img(src="/images/prizes/coderwall.jpg")

        h2
          | Utility/Fun Winner
          em 
            | / best score for category of "Utility/Fun"

        ul
          li: strong $1,000 Apple Store gift card          
          li
            strong Node Knockout Boxing Trunks
            i.icon-users(title="one per team member")          
          li
            strong MYSTERY PRIZE #3
          li
            .with-popover
              strong: a(href="http://segment.io", target="_blank") Segment.io
              |  - <a href="http://www.thinkgeek.com/product/f2eb/" target="_blank">Shark Laser Pointers</a>
              i.icon-users(title="one per team member")
              .popover-content(style="display:none")
                p Where utility and fun meet.
          li
            strong: a(href="http://goinstant.com", target="_blank") GoInstant
            |  - Lifetime free account
            i.icon-users(title="one per team member")

          li
            strong: a(href="http://kissmetrics.com", target="_blank") KISSmetrics
            |  - 6mo subscription ($1,500 value)
          li
            strong: a(href="http://digitalocean.com", target="_blank") Digital Ocean
            |  - $1,000 in credits
          li
            strong: a(href="http://circleci.com", target="_blank") CircleCI
            |  - 6 containers, 3mo subscription ($900 value)        
          li
            strong: a(href="http://firebase.com", target="_blank") Firebase
            |  - 6mo Bonfire plan ($900 value)
          li
            strong: a(href="http://mongolab.com", target="_blank") MongoLab
            |  - $600 in credits
          li
            strong: a(href="http://getsentry.com", target="_blank") Sentry
            |  - $250 in credits
          li
            strong: a(href="http://dashable.com", target="_blank") Dashable
            |  - 3mo Studio edition ($117 value)
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://scoutzie.com", target="_blank") Scoutzie
            |  - $100 in credits towards your first design project
          li
            strong: a(href="http://hackermonthly.com", target="_blank") Hacker Monthly
            |  - 1yr digital subscription ($29 value)
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://oreilly.com", target="_blank") O'Reilly Media
            |  - O'Reilly eBook of your choosing            
          li
            strong: a(href="http://twilio.com", target="_blank") Twilio
            |  - <a href="http://www.manning.com/cantelon/" target="_blank">NodeJS in Action</a> eBook
          li
            strong: a(href="http://coderwall.com", target="_blank") coderwall
            |  - 2013 Utility/Fun winner achievement badge

      #prize-completeness.tab-pane
        ul.images
          //- li: img(src="/images/prizes/silvertrophy.jpg")
          li: img(src="/images/prizes/trunks.jpg")
          li: img(src="/images/prizes/segmentio.jpg")
          li: img(src="/images/prizes/goinstant.jpg")
          li: img(src="/images/prizes/kissmetrics.jpg")
          li: img(src="/images/prizes/digitalocean.jpg")
          li: img(src="/images/prizes/circleci.jpg")
          li: img(src="/images/prizes/firebase.jpg")
          li: img(src="/images/prizes/mongolab.jpg")
          li: img(src="/images/prizes/sentry.jpg")
          li: img(src="/images/prizes/dashable.jpg")
          li: img(src="/images/prizes/scoutzie.jpg")
          li: img(src="/images/prizes/hackermonthly.jpg")
          li: img(src="/images/prizes/oreilly.jpg")
          li: img(src="/images/prizes/twilio.jpg")
          li: img(src="/images/prizes/coderwall.jpg")

        h2
          | Completeness Winner
          em 
            | / best score for category of "Complete"

        ul
          li: strong $1,000 Apple Store gift card          
          li
            strong Node Knockout Boxing Trunks
            i.icon-users(title="one per team member")          
          li
            strong MYSTERY PRIZE #4
          li
            .with-popover
              strong: a(href="http://segment.io", target="_blank") Segment.io
              |  - Swiss Army Knives
              i.icon-users(title="one per team member")
              .popover-content(style="display:none")
                p Doing everything your iPhone can't. Whenever you need an app for 'fighting a grizzly bear', look no further.
          li
            strong: a(href="http://goinstant.com", target="_blank") GoInstant
            |  - Lifetime free account
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://kissmetrics.com", target="_blank") KISSmetrics
            |  - 6mo subscription ($1,500 value)
          li
            strong: a(href="http://digitalocean.com", target="_blank") Digital Ocean
            |  - $1,000 in credits
          li
            strong: a(href="http://circleci.com", target="_blank") CircleCI
            |  - 6 containers, 3mo subscription ($900 value)        
          li
            strong: a(href="http://firebase.com", target="_blank") Firebase
            |  - 6mo Bonfire plan ($900 value)
          li
            strong: a(href="http://mongolab.com", target="_blank") MongoLab
            |  - $600 in credits
          li
            strong: a(href="http://getsentry.com", target="_blank") Sentry
            |  - $250 in credits
          li
            strong: a(href="http://dashable.com", target="_blank") Dashable
            |  - 3mo Studio edition ($117 value)
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://scoutzie.com", target="_blank") Scoutzie
            |  - $100 in credits towards your first design project
          li
            strong: a(href="http://hackermonthly.com", target="_blank") Hacker Monthly
            |  - 1yr digital subscription ($29 value)
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://oreilly.com", target="_blank") O'Reilly Media
            |  - O'Reilly eBook of your choosing            
          li
            strong: a(href="http://twilio.com", target="_blank") Twilio
            |  - <a href="http://www.manning.com/cantelon/" target="_blank">NodeJS in Action</a> eBook
          li
            strong: a(href="http://coderwall.com", target="_blank") coderwall
            |  - 2013 Completeness winner achievement badge


      #prize-popularity.tab-pane
        ul.images
          //- li: img(src="/images/prizes/silvertrophy.jpg")
          li: img(src="/images/prizes/trunks.jpg")
          li: img(src="/images/prizes/pivotal.jpg")
          li: img(src="/images/prizes/segmentio.jpg")
          li: img(src="/images/prizes/goinstant.jpg")
          li: img(src="/images/prizes/kissmetrics.jpg")
          li: img(src="/images/prizes/amazonaws.jpg")
          li: img(src="/images/prizes/digitalocean.jpg")
          li: img(src="/images/prizes/circleci.jpg")
          li: img(src="/images/prizes/firebase.jpg")
          li: img(src="/images/prizes/mongolab.jpg")
          li: img(src="/images/prizes/sentry.jpg")
          li: img(src="/images/prizes/dashable.jpg")
          li: img(src="/images/prizes/scoutzie.jpg")
          li: img(src="/images/prizes/hackermonthly.jpg")
          li: img(src="/images/prizes/oreilly.jpg")
          li: img(src="/images/prizes/twilio.jpg")
          li: img(src="/images/prizes/coderwall.jpg")

        h2
          | Popularity Winner
          em 
            | / team with the most votes

        ul
          li
            strong Node Knockout Boxing Trunks
            i.icon-users(title="one per team member")          
          li
            strong: a(href="http://pivotallabs.com", target="_blank") Pivotal Labs
            |  - $500 gift certificate            
          li
            .with-popover
              strong: a(href="http://segment.io", target="_blank") Segment.io
              |  - Miley Cyrus's new album <em>Bangerz</em>
              i.icon-users(title="one per team member")
              .popover-content(style="display:none")
                p Learn popularity from the pros.
          li
            strong: a(href="http://goinstant.com", target="_blank") GoInstant
            |  - Lifetime free account
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://kissmetrics.com", target="_blank") KISSmetrics
            |  - 6mo subscription ($1,500 value)
          li
            strong: a(href="http://digitalocean.com", target="_blank") Digital Ocean
            |  - $1,000 in credits
          li
            strong: a(href="http://circleci.com", target="_blank") CircleCI
            |  - 6 containers, 3mo subscription ($900 value)        
          li
            strong: a(href="http://firebase.com", target="_blank") Firebase
            |  - 6mo Bonfire plan ($900 value)
          li
            strong: a(href="http://mongolab.com", target="_blank") MongoLab
            |  - $600 in credits
          li
            strong: a(href="http://getsentry.com", target="_blank") Sentry
            |  - $250 in credits
          li
            strong: a(href="http://dashable.com", target="_blank") Dashable
            |  - 3mo Studio edition ($117 value)
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://scoutzie.com", target="_blank") Scoutzie
            |  - $100 in credits towards your first design project
          li
            strong: a(href="http://hackermonthly.com", target="_blank") Hacker Monthly
            |  - 1yr digital subscription ($29 value)
            i.icon-users(title="one per team member")
          li
            strong: a(href="http://oreilly.com", target="_blank") O'Reilly Media
            |  - O'Reilly eBook of your choosing            
          li
            strong: a(href="http://twilio.com", target="_blank") Twilio
            |  - <a href="http://www.manning.com/cantelon/" target="_blank">NodeJS in Action</a> eBook
          li
            strong: a(href="http://coderwall.com", target="_blank") coderwall
            |  - 2013 Popularity winner achievement badge


