.prizes-widget
  .tabbable.tabs-left
    ul.nav.nav-tabs
      li.active
        a(href="#prize-team", data-toggle="tab")
          h2 Team Winner
          p Team with the best overall score
      li
        a(href="#prize-solo", data-toggle="tab")
          h2 Solo Winner
          p One-person team with the best overall score
      li
        a(href="#prize-innovation", data-toggle="tab")
          h2 Innovation
          p Team with the highest innovation score
      li
        a(href="#prize-design", data-toggle="tab")
          h2 Design
          p Team with the highest design score
      li
        a(href="#prize-completeness", data-toggle="tab")
          h2 Completeness
          p Team with the highest completeness score
      li
        a(href="#prize-utility-fun", data-toggle="tab")
          h2 Utility/Fun
          p Team with the highest utility / fun score
      li
        a(href="#prize-popularity", data-toggle="tab")
          h2 Popularity
          p Team with the most votes


    .tab-content
      #prize-team.tab-pane.active
        | <p>Coming Soon</p>

        //- 
          :markdown
            <ul class="images">
              <li><img src="/images/prizes/gloves.jpg"></li>
              <li><img src="/images/prizes/trunks.jpg"></li>
              <li><img src="/images/prizes/joyent.jpg"></li>
              <li><img src="/images/prizes/dropbox.jpg"></li>
              <li><img src="/images/prizes/github.jpg"></li>
              <li><img src="/images/prizes/heroku.jpg"></li>
              <li><img src="/images/prizes/mongohq.jpg"></li>
              <li><img src="/images/prizes/mongolab.jpg"></li>
              <li><img src="/images/prizes/nodetime.jpg"></li>
              <li><img src="/images/prizes/coderwall.jpg"></li>
            </ul>

            Team Winner _/ best overall score_
            -----------
            
            - Node.js Knockout Boxing Gloves & Trunks
            - [Joyent Cloud Hosting Credits][joyent hosting] ($500) — [Joyent]
            - [50GB Dropbox storage][Dropbox storage] — [Dropbox] <i class="icon-users" title="one per team member"></i>
            - [GitHub Silver plan][GitHub plan] (1 year) — [GitHub]
            - [Heroku credits] ($600) — [Heroku]
            - [MongoHQ SSD Plan][mongohq plans] (1 year) — [MongoHQ]
            - [MongoLab dedicated replica-set w/2GB RAM][mongolab plans] (6 months) — [MongoLab]
            - [Nodetime Pro5 profiling and monitoring][Nodetime pro5] (1 year) — [Nodetime] <i class="icon-users" title="one per team member"></i>
            - [Overall achievement badges][coderwall badges] — [coderwall] <i class="icon-users" title="one per team member"></i>

            [GitHub plan]: https://github.com/plans
            [GitHub]: https://github.com/
            [Nodetime]: https://nodetime.com/
            [Nodetime pro5]: https://nodetime.com/pro
            [Dropbox]: https://www.dropbox.com
            [Dropbox storage]: https://www.dropbox.com/pricing
            [MongoLab]: https://mongolab.com/
            [mongolab plans]: https://mongolab.com/about/products/#/pricing
            [NodeConf]: http://www.nodeconf.com/
            [coderwall badges]: https://coderwall.com/p/akwn2q
            [coderwall]: http://coderwall.com/
            [Heroku credits]: http://www.heroku.com/pricing
            [Heroku]: http://www.heroku.com/
            [mongohq plans]: https://www.mongohq.com/pricing
            [MongoHQ]: https://www.mongohq.com/home
            [joyent hosting]: http://joyent.com/products/joyent-cloud/pricing
            [Joyent]: http://joyent.com/


      #prize-solo.tab-pane
        | <p>Coming Soon</p>

      #prize-innovation.tab-pane
        | <p>Coming Soon</p>

      #prize-design.tab-pane
        | <p>Coming Soon</p>

      #prize-completeness.tab-pane
        | <p>Coming Soon</p>

      #prize-utility-fun.tab-pane
        | <p>Coming Soon</p>

      #prize-popularity.tab-pane
        | <p>Coming Soon</p>
