h3 THANKS TO OUR PLATINUM SPONSORS

.sponsor-grid
  .row
    a.sponsor.col-md-3.col-sm-3.col-xs-3.col-lg-3(href="http://modulus.io")
      img(src="/images/sponsors/logos/sm/modulus.png")
      .img-content
    a.sponsor.col-md-3.col-sm-3.col-xs-3.col-lg-3(href="http://nodesource.com")
      img(src="/images/sponsors/logos/sm/nodesource.png")
      .img-content
    a.sponsor.col-md-3.col-sm-3.col-xs-3.col-lg-3(href="http://kadira.io/graphql")
      img(src="/images/sponsors/logos/sm/kadira_inverted.png")
      .img-content
    a.sponsor.col-md-3.col-sm-3.col-xs-3.col-lg-3(href="http://joyent.com")
      img(src="/images/sponsors/logos/sm/joyent.png")
      .img-content

p
  a.btn.btn-super.btn-primary(href="/sponsors") See all our 2015 sponsors
