.btn-group.nav-account
  if (req && req.user)
    button(class="btn btn-primary dropdown-toggle", type="button", data-hover="dropdown", data-toggle="dropdown")
      img.avatar(src="#{avatar_url(req.user)}")
      | #{req.user.name || "Account"}&nbsp;&nbsp;
      span(class="caret")

    ul(class="dropdown-menu", role="menu")
      if req.myTeam
        li
          a(href="/teams/mine") My Team

      if voting && req.user && (req.myTeam || req.user.judge || req.user.admin)
        li
          a(href="/judges/dashboard") Judging

      li
        a(href="/people/me") My Profile
      li
        a(href="/logout") Sign Out
  else
    button.nav-sign-in(class="btn btn-default")
      a(href="/login") Sign in

