#winners-widget.container
  .row
    .col.col-md-10.col-sm-12.col-xs-12.col-lg-10.col-md-offset-1.col-lg-offset-1

      .widget-header
        .icons
          a(target="_blank", href="http://twitter.com/home?status=Node%20Knockout%202015%20winners%20announced!%20http://www.nodeknockout.com" )
            img(src="/images/winners-twitter-icon.png", data-toggle="tooltip", data-placement="top", title="Share on Twitter", class="with-tooltip")
          a(target="_blank", href="http://www.facebook.com/sharer.php?u=http://www.nodeknockout.com/&t=Node Knockout 2015 Winners")
            img(src="/images/winners-facebook-icon.png", data-toggle="tooltip", data-placement="top", title="Share on Facebook", class="with-tooltip")
        h1

          | 2015 Node Knockout Winners
          a(href="/prizes")
            | (see the prizes...)


      .widget-body

        //- WINNING TEAM
        .winner-row.clearfix
          a.team-name(href="/teams/fight-club")
            | Fight Club

          .winner-badge
            img(src="/images/awards/team.png")
            p
              | Team with the best overall score
          .team

            .team-screenshot
              a(href="http://fight-club.2015.nodeknockout.com/", target="_blank")
                img(src="/images/2015/winners/fight-club.png")

              .team-actions
                a.btn.btn-primary(href='http://fight-club.2015.nodeknockout.com/') Launch Site
                a.btn.btn-primary(href='/teams/fight-club') Team Page

            .team-details
              | <ul class="members"><li><a href="/people/55f83be220c5516701000458" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="mnmtanish"><img src="http://nodeknockout.s3.amazonaws.com/people/55f83be220c5516701000458.jpg" class="avatar"></a></li><li><a href="/people/55f8f2fc27c1366501000438" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="roonyh"><img src="http://nodeknockout.s3.amazonaws.com/people/55f8f2fc27c1366501000438.jpg" class="avatar"></a></li><li><a href="/people/55f8f50a27c136650100044a" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="thinkholic"><img src="http://nodeknockout.s3.amazonaws.com/people/55f8f50a27c136650100044a.png" class="avatar"></a></li><li><a href="/people/55f8f72627c1366501000480" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="pahans"><img src="http://nodeknockout.s3.amazonaws.com/people/55f8f72627c1366501000480.jpeg" class="avatar"></a></li></ul>
              .description
                p A multiplayer webcam fighting game.

        //- SOLO TEAM
        .winner-row.clearfix
          a.team-name(href="/teams/cook-or-out")
            | Cook or Out

          .winner-badge
            img(src="/images/awards/solo.png")
            p
              | One-person team with the best overall score

          .team
            .team-screenshot
              a(href="http://cook-or-out.2015.nodeknockout.com/", target="_blank")
                img(src="/images/2015/winners/cook-or-out.png")

              .team-actions
                //- a.btn.btn-primary(href='http://cook-or-out.2015.nodeknockout.com/') Launch Site
                a.btn.btn-primary(href='/teams/cook-or-out') Team Page

            .team-details
              | <ul class="members"><li><a href="/people/56265b1db3c4146601000c3c" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="feyzo"><img src="http://nodeknockout.s3.amazonaws.com/people/56265b1db3c4146601000c3c.jpeg" class="avatar"></a></li></ul>
              .description
                p Helps you choose whether to Cook at home or Eat out.


        //- INNOVATION TEAM
        .winner-row.clearfix
          a.team-name(href="/teams/gitmatch")
            | GitMatch

          .winner-badge
            img(src="/images/awards/innovation.png")
            p
              | Team with the highest innovation score

          .team
            .team-screenshot
              a(href="http://gitmatch.2015.nodeknockout.com/", target="_blank")
                img(src="/images/2015/winners/gitmatch.png")

              .team-actions
                //- a.btn.btn-primary(href='http://gitmatch.2015.nodeknockout.com/') Launch Site
                a.btn.btn-primary(href='/teams/gitmatch') Team Page

            .team-details
              | <ul class="members"><li><a href="/people/5604f39e782fb266010001d8" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="PatrickHeneise"><img src="http://nodeknockout.s3.amazonaws.com/people/5604f39e782fb266010001d8.jpg" class="avatar"></a></li><li><a href="/people/563b9a97fdbe3b03000000d6" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="Moezalez"><img src="http://gravatar.com/avatar/c9786636ce706173ae6f2a177197539d?s=60&amp;d=retro" class="avatar"></a></li><li><a href="/people/563ba8e9fdbe3b03000002c4" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="h02e56"><img src="http://gravatar.com/avatar/33a0673c32dd3b23c69817e26dfc70b5?s=60&amp;d=retro" class="avatar"></a></li><li><a href="/people/563bfc01727ff303000004b9" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="repejota"><img src="http://gravatar.com/avatar/9106f332ee6ba3ae1443444b9ba62311?s=60&amp;d=retro" class="avatar"></a></li></ul>
              .description
                p Match developers to your open source repos and motivate them to contribute.

        //- DESIGN TEAM
        .winner-row.clearfix
          a.team-name(href="/teams/bae-beats")
            | Bae Beats

          .winner-badge
            img(src="/images/awards/design.png")
            p
              | Team with the highest design score

          .team
            .team-screenshot
              a(href="http://bae-beats.2015.nodeknockout.com/", target="_blank")
                img(src="/images/2015/winners/bae-beats.png")

              .team-actions
                //- a.btn.btn-primary(href='http://bae-beats.2015.nodeknockout.com/') Launch Site
                a.btn.btn-primary(href='/teams/bae-beats') Team Page

            .team-details
              | <ul class="members"><li><a href="/people/560e9bf45ac9927301000406" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="grantjbutler"><img src="http://nodeknockout.s3.amazonaws.com/people/560e9bf45ac9927301000406.jpg" class="avatar"></a></li><li><a href="/people/563786a88add400300000dac" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="Mindsparks"><img src="http://nodeknockout.s3.amazonaws.com/people/563786a88add400300000dac.png" class="avatar"></a></li></ul>
              .description
                p Music sharing made simple!


        //- UTILITY/FUN TEAM
        .winner-row.clearfix
          a.team-name(href="/teams/node-rogue")
            | Node Rogue

          .winner-badge
            img(src="/images/awards/utility-fun.png")
            p
              | Team with the highest utility/fun score

          .team
            .team-screenshot
              a(href='http://node-rogue.2015.nodeknockout.com/', target="_blank")
                img(src="/images/2015/winners/node-rogue.png")

              .team-actions
                //- a.btn.btn-primary(href='http://node-rogue.2015.nodeknockout.com/') Launch Site
                a.btn.btn-primary(href='/teams/node-rogue') Team Page

            .team-details
              | <ul class="members"><li><a href="/people/55f817e420c551670100003b" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="meso"><img src="http://nodeknockout.s3.amazonaws.com/people/55f817e420c551670100003b.JPG" class="avatar"></a></li></ul>
              .description
                p Online rogue-like maze, with real-time player generated hints.


        //- COMPLETENESS TEAM
        .winner-row.clearfix
          a.team-name(href="/teams/flaggy-bomb")
            | Flaggy Bomb

          .winner-badge
            img(src="/images/awards/completeness.png")
            p
              | Team with the highest completeness score

          .team
            .team-screenshot
              a(href='http://flaggy-bomb.2015.nodeknockout.com/', target="_blank")
                img(src="/images/2015/winners/flaggy-bomb.png")

              .team-actions
                //- a.btn.btn-primary(href='http://flaggy-bomb.2015.nodeknockout.com/') Launch Site
                a.btn.btn-primary(href='/teams/flaggy-bomb') Team Page


            .team-details
              | <ul class="members"><li><a href="/people/55f822ae20c5516701000091" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="nathanhoad"><img src="http://gravatar.com/avatar/55507cfdab2901efde4172555722e109?s=60&amp;d=retro" class="avatar"></a></li><li><a href="/people/55f823aa20c55167010000a0" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="benhoad"><img src="http://gravatar.com/avatar/2929d026f070f00e8e3ff433236449fb?s=60&amp;d=retro" class="avatar"></a></li><li><a href="/people/561c934adafe366c01000061" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="JaapRood"><img src="http://gravatar.com/avatar/6b3c9f5ec8b11399d58432d229040864?s=60&amp;d=retro" class="avatar"></a></li></ul>
              .description
                p A basic recreation of Minesweeper Flags from the old MSN Messenger games.


        //- POPULARITY TEAM
        .winner-row.clearfix
          a.team-name(href="/teams/tapir")
            | Tapir

          .winner-badge
            img(src="/images/awards/popularity.png")
            p
              | Team with the most votes

          .team
            .team-screenshot
              a(href='http://tapir.2015.nodeknockout.com/', target="_blank")
                img(src="/images/2015/winners/tapir.png")

              .team-actions
                //- a.btn.btn-primary(href='http://tapir.2015.nodeknockout.com/') Launch Site
                a.btn.btn-primary(href='/teams/tapir') Team Page

            .team-details
              | <ul class="members"><li><a href="/people/5604e9cf782fb266010001ba" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="bpedro"><img src="http://nodeknockout.s3.amazonaws.com/people/5604e9cf782fb266010001ba.jpeg" class="avatar"></a></li><li><a href="/people/563ccd2067c4c903000000ac" data-toggle="tooltip" data-placement="top" title="" class="with-tooltip" data-original-title="fmvilas"><img src="http://gravatar.com/avatar/f3bad9b06a1b0512c5c837f28dddd985?s=60&amp;d=retro" class="avatar"></a></li></ul>
              .description
                p User Friendly API Designer that asks you a few questions and generates a Swagger API definition.
