extends ../layout-2013
- title('About')

block body
  - activeNav = "about"
  .contained
    include ../index/_header-mini
  .inner-page.container
    .row
      .col-lg-8.col-sm-8.col-md-8
        .about-page-intro
          :markdown
            # About

            Node.js Knockout is a 48-hour hackathon featuring [node.js]. It's an online,
            virtual competition with [contestants worldwide].

            Coding takes place from November 7, 2015 0:00 UTC to November 8, 2015 23:59
            UTC. Judging and public voting take place the following week.

            This is the 5th year it's been held.

            [node.js]: http://nodejs.org/
            [contestants worldwide]: /teams

        .organizers
          h3 NKO 2015 Organizer
          .row
            .person-col.col-md-3.col-sm-3.col-xs-3.col-lg-3
              .person
                a(href="http://twitter.com/sakinac")
                  .avatar(style="background-image:url('https://pbs.twimg.com/profile_images/378800000570034935/2b2db16a6fa737568038aeb953d911b2.jpeg');")
                    img(src="/images/2013/transparent.png")
                  label Sakina Crocker
                ul.links
                  li
                    a(href="http://twitter.com/sakinac")
                      i.icon-twitter
                  li
                    a(href="http://www.linkedin.com/in/sakinac")
                      i.icon-linkedin
                  li
                    a(href="mailto:sakina@nodeknockout.com")
                      i.icon-email



        .about-page-more
          :markdown
            ### Additional Credits
            - Design by [LabLabLab]
            - Additional help: ♥ [ashbhoopathy], [richlengsavath], [jacquesc], [mape], [miksago], [dshaw], [antiserf], [operaqueenie] ♥
            - Creators: [gerad], [visnup]
            - Original inspiration: [Rails Rumble]
            - Props: [Node.js] is a trademark of [Joyent, Inc.]
              
            <br>
            Special thanks to the [Node.js Foundation](https://nodejs.org/en/foundation/) for their support.
            
            [![](/images/nodejs-light.jpg)](https://nodejs.org/en/foundation/)
            <br><br>
              
            
            [node.js]: http://nodejs.org/
            [contestants worldwide]: /teams
            [nodeconf]: /tell-me-a-story

            [Rails Rumble]: http://railsrumble.com/
            [Joyent, Inc.]: http://www.joyent.com/
            [GitHub]: https://github.com/nko5/website

            [ashbhoopathy]: https://twitter.com/ashbhoopathy
            [jacquesc]: https://twitter.com/jacquescrocker
            [LabLabLab]: http://lablablab.co
            [jacquescrocker]: https://twitter.com/jacquescrocker
            [richlengsavath]: https://twitter.com/richlengsavath
            [burnto]: https://twitter.com/burnto
            [huned]: https://twitter.com/huned
            [visnup]: https://twitter.com/visnup
            [gerad]: https://twitter.com/gerad
            [mape]: https://twitter.com/mape
            [miksago]: https://twitter.com/miksago
            [dshaw]: https://twitter.com/dshaw
            [antiserf]: https://twitter.com/antiserf
            [operaqueenie]: https://twitter.com/operaqueenie
            [sakinac]: https://twitter.com/sakinac
            [levibuzolic]: https://twitter.com/levibuzolic
            [#sworcery]: http://www.swordandsworcery.com/

        //- if registration
        //-   :markdown
        //-     ### <a href="#stats"></a>Key Stats

        //-     <table>
        //-       <tr><th>Contestants</th> <td>#{people}</td></tr>
        //-       <tr><th>Teams</th>       <td>#{teams}</td></tr>
        //-       <tr><th>Entries</th>     <td>#{entries}</td></tr>
        //-     </table>

      .col-lg-4.col-sm-4.col-md-4
        include ../index/_sidebar
