extends ../layout-2013
- title('About')

block body
  - activeNav = "about"
  .contained
    include ../index/_header-mini
  .inner-page.container
    .row
      .col-lg-8.col-sm-8.col-md-8
        .about-page-intro
          :markdown
            # About

            Node.js Knockout is a 48-hour hackathon featuring [node.js]. It's an online,
            virtual competition with [contestants worldwide].

            Coding takes place from November 9, 2013 0:00 UTC to November 11, 2013 0:00
            UTC. Judging and public voting take place the following week.

            This is the 4th year it's been held.

            [node.js]: http://nodejs.org/
            [contestants worldwide]: /teams

        .organizers
          h3 NKO 2013 ORGANIZERS
          .row
            .person-col.col-md-3.col-sm-3.col-xs-3.col-lg-3
              .person
                a(href="http://twitter.com/gerad")
                  .avatar(style="background-image:url('/avatars/gerad.png');")
                    img(src="/images/2013/transparent.png")
                  label Gerad Suyderhoud
                ul.links
                  li
                    a(href="http://twitter.com/gerad")
                      i.icon-twitter
                  li
                    a(href="http://www.linkedin.com/in/geradsuyderhoud")
                      i.icon-linkedin
                  li
                    a(href="mailto:gerad@nodeknockout.com")
                      i.icon-email

            .person-col.col-md-3.col-sm-3.col-xs-3.col-lg-3
              .person
                a(href="http://twitter.com/ashbhoopathy")
                  .avatar(style="background-image:url('/avatars/ashbhoopathy.png');")
                    img(src="/images/2013/transparent.png")
                  label Ash Bhoopathy
                ul.links
                  li
                    a(href="http://twitter.com/ashbhoopathy")
                      i.icon-twitter
                  li
                    a(href="http://www.linkedin.com/in/ashbhoopathy")
                      i.icon-linkedin
                  li
                    a(href="mailto:ash@nodeknockout.com")
                      i.icon-email

            .person-col.col-md-3.col-sm-3.col-xs-3.col-lg-3
              .person
                a(href="http://twitter.com/jacquescrocker")
                  .avatar(style="background-image:url('/images/jacquescrocker.jpeg');")
                    img(src="/images/2013/transparent.png")
                  label Jacques Crocker
                ul.links
                  li
                    a(href="http://twitter.com/jacquescrocker")
                      i.icon-twitter
                  li
                    a(href="http://www.linkedin.com/in/jacquescrocker")
                      i.icon-linkedin
                  li
                    a(href="mailto:jacques@nodeknockout.com")
                      i.icon-email

            .person-col.col-md-3.col-sm-3.col-xs-3.col-lg-3
              .person
                a(href="http://twitter.com/richlengsavath")
                  .avatar(style="background-image:url('/avatars/humanbagel.png');")
                    img(src="/images/2013/transparent.png")
                  label Rich Lengsavath
                ul.links
                  li
                    a(href="http://twitter.com/richlengsavath")
                      i.icon-twitter
                  li
                    a(href="http://www.linkedin.com/in/richlengsavath")
                      i.icon-linkedin
                  li
                    a(href="mailto:rich@nodeknockout.com")
                      i.icon-email

        .about-page-more
          :markdown
            ### Additional Credits
            - Prizes, Sponsors, and Judges organized by [sakinac]
            - Cool homepage animation: [levibuzolic]
            - Additional help: ♥ [mape], [miksago], [dshaw], [antiserf], [operaqueenie] ♥
            - Original inspiration: [Rails Rumble]
            - Props: [Node.js] is a trademark of [Joyent, Inc.]
            - Creators: [gerad], [visnup]

            ### Logos

            [PNG 3700x1000](/designs/exports/png/nko-logo-3700x1000.png) /
            [PDF](/designs/exports/pdf/nko-logo.pdf) /
            [Adobe Illustrator](/designs/nko-logo.ai)

            [node.js]: http://nodejs.org/
            [contestants worldwide]: /teams
            [nodeconf]: /tell-me-a-story

            [Rails Rumble]: http://railsrumble.com/
            [Joyent, Inc.]: http://www.joyent.com/
            [GitHub]: https://github.com/nko4/website

            [ashbhoopathy]: https://twitter.com/ashbhoopathy
            [jacquescrocker]: https://twitter.com/jacquescrocker
            [richlengsavath]: https://twitter.com/richlengsavath
            [burnto]: https://twitter.com/burnto
            [huned]: https://twitter.com/huned
            [visnup]: https://twitter.com/visnup
            [gerad]: https://twitter.com/gerad
            [mape]: https://twitter.com/mape
            [miksago]: https://twitter.com/miksago
            [dshaw]: https://twitter.com/dshaw
            [antiserf]: https://twitter.com/antiserf
            [operaqueenie]: https://twitter.com/operaqueenie
            [sakinac]: https://twitter.com/sakinac
            [levibuzolic]: https://twitter.com/levibuzolic
            [#sworcery]: http://www.swordandsworcery.com/

        //- if registration
        //-   :markdown
        //-     ### <a href="#stats"></a>Key Stats

        //-     <table>
        //-       <tr><th>Contestants</th> <td>#{people}</td></tr>
        //-       <tr><th>Teams</th>       <td>#{teams}</td></tr>
        //-       <tr><th>Entries</th>     <td>#{entries}</td></tr>
        //-     </table>

      .col-lg-4.col-sm-4.col-md-4
        include ../index/_sidebar
