extends ../layout-2013

block body
  #landing.coding
    - activeNav = "home"
    include ../index/_header-mini

    .body-wrapper.container
      .header-section.landing-section
        a.logo( href="/" ) Node Knockout
        .logo-description
          | Node Knockout is the world's biggest Node.js programming competition
      .main-section.landing-section
        .row
          .col.col-md-8.col-lg-8
            .countdown(style="display:none")
              .with-popover
                a(href="http://www.wolframalpha.com/input/?i=November+8%2C+2015+23%3A59+UTC", target="_blank")
                  span.label.label-primary NodeKnockout ends
                .popover-content(style="display:none")
                  | The competition ends at exactly 23:59:59UTC on Nov 8th, 2015. Click to see what time that is in your local time zone.

              .timer(data-from="Nov 8, 2015 23:59:59")

          .col.col-md-4.col-lg-4
            .competition-counts
              #overall-stats.row
                .col-md-4.col-lg-4.col-sm-4.col-xs-4
                  .count.commits
                    strong.number= stats.commits
                    span.label-primary commits
                .col-md-4.col-lg-4.col-sm-4.col-xs-4
                  .count.pushes
                    strong.number= stats.pushes
                    span.label-primary pushes
                .col-md-4.col-lg-4.col-sm-4.col-xs-4
                  .count.deploys
                    strong.number= stats.deploys
                    span.label-primary deploys

        .row
          .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
            if req.myTeam
              .button-boxes.row
                .col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .button-box
                    a.btn.btn-primary.btn-block(href="/teams/mine")
                      i.icon.icon-users
                      | Your Team Page
                .col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .button-box
                    a.btn.btn-primary.btn-block(href="/deploying")
                      i.icon.icon-cloud-upload
                      | How to Deploy
                .col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .button-box
                    a.btn.btn-primary.btn-block(href="/rules")
                      i.icon.icon-list
                      | Competition Rules
                .col-lg-3.col-md-3.col-sm-6.col-xs-6
                  .button-box
                    a.btn.btn-primary.btn-block(href="/resources")
                      i.icon.icon-flask
                      | Resources / Services


        .recent-deploys.landing-section.row
          .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
            .recent-deploys-inner
              h3
                strong Recent Deploys

              #recent-deploys
                - each team in recentDeploys
                  include recent-deploy
        
        .support-section.landing-section.row
          .col.col-lg-12.col-md-12
            h3
              strong IRC / #nodeknockout on freenode
            | <iframe src="https://kiwiirc.com/client/irc.freenode.net/?nick=&theme=cli#nodeknockout" style="border:0; width:100%; height:450px;"></iframe>
          

        .sponsors-section.landing-section.row
          hr
          .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
            include _sponsors_grid

    .connect.landing-section
      .container
        .row
          .col.col-md-6.col-sm-6.col-xs-6.col-lg-6
            //- POPULATED WITH TWEETS
            | <a class="twitter-timeline" href="https://twitter.com/nodeknockout" data-widget-id="377277154146283520">Tweets by @nodeknockout</a>
            | <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


          .col.col-md-6.col-sm-6.col-xs-6.col-lg-6
            h3
              | FROM OUR BLOG

            //- POPULATED WITH TUMBLR POSTS
            div#tumblr-posts


    footer
      .container
        .subscribe-section.row
          .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
            a(name="subscribe")
            div#mc_embed_signup
              form.validate.signup-form(action="http://nodeknockout.us5.list-manage2.com/subscribe/post?u=fcdc37b83386a2769efad961d&amp;id=e94fe23fd3", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", target="_blank", novalidate)
                input.email-field.email(type="email", value="", name="EMAIL", id="mce-EMAIL", placeholder="Subscribe with your email to stay up to date on NKO...", required)
                input.btn.btn-super.btn-primary(type="submit", value="Subscribe", name="subscribe", id="mc-embedded-subscribe")

        .footer-bottom.row
          .col.col-md-3.col-sm-3.col-xs-3.col-lg-3
            | © 2015 NodeKnockout

          .col.col-md-6.col-sm-6.col-xs-6.col-lg-6.contact-links
            a(href="mailto:all@nodeknockout.com")
              i.icon.icon-envelope
              | all@nodeknockout.com
            a(href="http://twitter.com/nodeknockout")
              i.icon.icon-twitter
              | @nodeknockout

          .col.col-md-3.col-sm-3.col-xs-3.col-lg-3.previous-competition-links
            a(href="http://2013.nodeknockout.com")
              | See 2013 Results

            //- a(href="http://2010.nodeknockout.com")
            //-   | 2010
            //- a(href="http://2011.nodeknockout.com")
            //-   | 2011
            //- a(href="http://2012.nodeknockout.com")
            //-   | 2012
            //- a(href="http://2013.nodeknockout.com")
            //-   | 2013
