extends ../layout-new

block body

  .body-wrapper.container
    .header
      .header-inner.row
        .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
          .gloves
          a.logo1( href="/" ) Node Knockout
          a.logo2( href="/" ) node.js ko
      .header-nav.row
        .col.col-md-12.col-sm-12.col-xs-12.col-lg-12
          a(href="#") Registration
          a(href="#") Prizes
          a(href="#") Judges
          a(href="#") Sponsors
          a(href="#") Rules
          a(href="#") Resources
          a(href="#") Blog

    .intro-section.row
      .col.col-md-12.col-sm-12.col-xs-12.col-lg-12

        label Main Event
        h2
          | Nov 8-10
          span.sep •
          | 2013

        a.btn.btn-large.btn-primary(href="#") Register
