extends ../layout-2013

block body
  
  - activeNav = "jobes"
  include ../index/_header-mini

  .inner-page.container
    .row
      .col-lg-8.col-sm-8.col-md-8.col-xs-8
        .jobs-list
          :markdown
            # Jobs

            Want to be listed on this page? [Become a sponsor](/sponsors/options#job-listing).
            <hr>
            
            <a name="joyent"></a>
            **[Joyent](http://joyent.com)** is the high-performance cloud infrastructure
            company, offering the only solution specifically built to power real-time
            web and mobile applications.

            * [Web Developer](http://joyent.com/company/careers/web-developer) &mdash; [San Francisco][joyent-sf], [Vancouver][joyent-vr]
            * [Product Manager, Big Data](http://joyent.com/company/careers/product-manager-big-data) &mdash; [San Francisco][joyent-sf]
            * [Product Manager, Network Technologies](http://joyent.com/company/careers/product-manager-network-technologies) &mdash; [San Francisco][joyent-sf]
            * [IT Manager](http://joyent.com/company/careers/it-manager) &mdash; [San Francisco][joyent-sf]
            * [Software Quality Lead](http://joyent.com/company/careers/software-quality-lead) &mdash; [San Francisco][joyent-sf]

            [joyent-sf]: http://maps.google.com/maps?q=1+embarcadero+center,+sf,+ca
            [joyent-vr]: http://maps.google.com/maps?q=375+water+st+vancouver,bc+v6b+5c6

            <hr>
            
            <a name="brandcast"></a>
            
            **[Brandcast](http://brandcast.com)** has a vision of helping people express themselves, unlocking the hidden powers of the Web, and bringing the last major pillars of enterprise technology into the cloud. [more...](#more)

            <div class="more" style="display:none">
              <p>Our dynamic team is made up of some of the best people in the industry, with backgrounds spanning startups, agencies, academics, and major technology companies. We are also lucky to be working with Marc Benioff, one of the world's most innovative technology visionaries.</p>
              
              <p>Our Mint Plaza office is located adjacent to the Powell St Bart/Muni station in San Francisco. We strive to maintain a diverse, creative, inspiring and well-rounded work environment that appreciates and fosters talent and quality.</p>
            </div>

            * [Web Developer](https://brandcast.com/careers/javascript) &mdash; [San Francisco][brandcast-sf]
            * [Core Engineer](https://brandcast.com/careers/node)
            
            [brandcast-sf]: https://maps.google.com/maps?q=maps+mint+plaza+sf&hnear=Mint+Plaza,+San+Francisco,+California+94103&gl=us&t=m&z=16

            <hr>
            <a name="firebase"></a>

            **[Firebase](http://firebase.com)** is building incredible products that help developers create real time applications 100x faster than traditional development. We are growing exceptionally fast with hundreds of new developers signing up everyday. [more...](#more)
            <div class="more" style="display:none">
              <p>We’re looking for passionate people who are excited to be part of a happy, positive, and energetic environment. As a Frontend Developer at Firebase you’ll help build our flagship website, product dashboard, world class documentation, product demos, and other customer facing products. As part of our UX/UI team, you’ll help make every customer facing experience incredible and pixel perfect.</p>
             
              <p>Our Frontend uses Angular, Backbone, CSS3 (Sass), HTML5, Grunt, Jekyll and Github for coding collaboration and source control. We love new technology and encourage our team to push the limits and test out the latest libraries and best practices.</p>
            </div>

            * [Front End Developer](https://angel.co/firebase/jobs)

      .col-lg-4.col-sm-4.col-md-4.col-xs-4
        include ../index/_sidebar
