
extends ../layout-2013

block body

  - activeNav = "jobs"
  .contained
    include ../index/_header-mini

  .inner-page.container
    .row
      .col-lg-8.col-sm-8.col-md-8
        .jobs-list
          :markdown
            # Jobs

            Want to be listed on this page? [Become a sponsor](/sponsors/options#job-listing).
            <hr/>

          - _(jobSponsors).shuffle().forEach(function(sponsor) {
            div
              a(name=sponsor.slug)
              != markdown(sponsor.description)
            hr
          - });

      .col-lg-4.col-sm-4.col-md-4
        include ../index/_sidebar
