
extends ../layout-2013

block body

  - activeNav = "jobs"
  .contained
    include ../index/_header-mini

  .inner-page.container
    .row
      .col-lg-8.col-sm-8.col-md-8
        .jobs-list
          a.btn.btn-sm.btn-default(href="/sponsors/options#job-listing") Post a job &raquo;
          h1 Jobs

          p
            | Need a new gig? These great companies are hiring Node.js developers.

          hr

          - _(jobSponsors).shuffle().forEach(function(sponsor) {
            .job.clearfix
              if sponsor.image
                img(src="/images/sponsors/#{sponsor.image}")
              a(name=sponsor.slug)
              != markdown(sponsor.description)
            hr
          - });

      .col-lg-4.col-sm-4.col-md-4
        include ../index/_sidebar
