extends ../layout-2013

block body
  
  - activeNav = "jobes"
  include ../index/_header-mini

  .inner-page.container
    .row
      .col-lg-8.col-sm-8.col-md-8.col-xs-8
        .jobs-list
          :markdown
            # Jobs

            Want to be listed on this page? [Become a sponsor](/sponsors#jobs).
            <hr>
            <a name="joyent"></a>
            **[Joyent](http://joyent.com)** is the high-performance cloud infrastructure
            company, offering the only solution specifically built to power real-time
            web and mobile applications.

            * [Web Developer](http://joyent.com/company/careers/web-developer) &mdash; [San Francisco][joyent-sf], [Vancouver][joyent-vr]
            * [Product Manager, Big Data](http://joyent.com/company/careers/product-manager-big-data) &mdash; [San Francisco][joyent-sf]
            * [Product Manager, Network Technologies](http://joyent.com/company/careers/product-manager-network-technologies) &mdash; [San Francisco][joyent-sf]
            * [IT Manager](http://joyent.com/company/careers/it-manager) &mdash; [San Francisco][joyent-sf]
            * [Software Quality Lead](http://joyent.com/company/careers/software-quality-lead) &mdash; [San Francisco][joyent-sf]

            [joyent-sf]: http://maps.google.com/maps?q=1+embarcadero+center,+sf,+ca
            [joyent-vr]: http://maps.google.com/maps?q=375+water+st+vancouver,bc+v6b+5c6

      .col-lg-4.col-sm-4.col-md-4.col-xs-4
        include ../index/_sidebar
