- title('Prizes')
extends ../layout-2013

block body
  - activeNav = "prizes"
  .contained
    include ../index/_header-mini

  .inner-page.container
    .row
      .col-lg-12.col-sm-12.col-md-12.col-xs-12
        :markdown
          Prizes
          ======

          [Sponsors](/sponsors) help provide great prizes. Interested in sponsoring or know someone who is? [Let us
          know!](mailto:all@nodeknockout.com).

          Prizes will be awarded based on the methodology described on the
          [scoring page](/scoring).

        .prizes-page
          include ../index/_prizes-widget

        .sponsors-horizontal
          .sponsors-sidebar
            h3 Thank you to our Platinum Sponsors
            .row
              a.sponsor.col-md-5.col-sm-5.col-xs-5.col-lg-5.col-md-offset-1.col-lg-offset-1.col-xs-offset-1.col-sm-offset-1(href="http://joyent.com")
                img(src="/images/sponsors/logos/sm/joyent.png")
                .img-content
              a.sponsor.col-md-5.col-sm-5.col-xs-5.col-lg-5(href="http://goinstant.com")
                img(src="/images/sponsors/logos/sm/goinstant.png")
                .img-content
            .row
              a.sponsor.col-md-5.col-sm-5.col-xs-5.col-lg-5.col-md-offset-1.col-lg-offset-1.col-xs-offset-1.col-sm-offset-1(href="http://thenodefirm.com")
                img(src="/images/sponsors/logos/sm/nodefirm.png")
                .img-content
              a.sponsor.col-md-5.col-sm-5.col-xs-5.col-lg-5(href="http://engineering.groupon.com")
                img(src="/images/sponsors/logos/sm/groupon.png")
                .img-content

            .clear


