- title('Prizes')
extends ../layout-2013

block body
  - activeNav = "prizes"
  .contained
    include ../index/_header-mini

  .inner-page.container
    .row
      .col-lg-8.col-sm-8.col-md-8
        :markdown
          Prizes
          ======

          [Sponsors](/sponsors) help provide great prizes. Interested in sponsoring or know someone who is? [Let us
          know!](mailto:all@nodeknockout.com)

          Full prize list will be announced soon!

      .col-lg-4.col-sm-4.col-md-4
        include ../index/_sidebar


      //- .col-lg-12.col-sm-12.col-md-12.col-xs-12
      //-   :markdown
      //-     Prizes
      //-     ======

      //-     [Sponsors](/sponsors) help provide great prizes. Interested in sponsoring or know someone who is? [Let us
      //-     know!](mailto:all@nodeknockout.com)

      //-     Prizes will be awarded based on the methodology described on the
      //-     [scoring page](/scoring).

      //-   .prizes-page
      //-     include ../index/_prizes-widget

      //-     include ../index/_sponsors_horizontal
