extends ../layout-2013

block body
  #splash
    include ../index/_header-mini
    .splash-frame
      div.line1 NodeKnockout <strong>is back</strong> for 2016
      div.relative-wrapper
        div.line2 Nov 12-13
        div.utc-line(title="Starts at 0:00 UTC on Nov 12th, 2015, Ends at 23:59 UTC on Nov 13th") UTC
      | <div id="mc_embed_signup">
      |   <form action="http://nodeknockout.us5.list-manage2.com/subscribe/post?u=fcdc37b83386a2769efad961d&amp;amp;id=e94fe23fd3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="validate signup-form">
      |     <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email address..." required class="email-field email">
      |     <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-super btn-primary">
      |   </form>
      | </div>
      div.line3 compete in the world's biggest node.js programming competition
    .splash-btns
      .splash-btns-wrapper
        a.splash-btn-registration(href="mailto:all@nodeknockout.com")
          | Registration Opens <strong>Sept 1</strong>
        a.splash-btn-platinum(href="mailto:all@nodeknockout.com")
          | Support Node Knockout, <strong>Partner with us!</strong>
        a.splash-btn-prize(href="mailto:all@nodeknockout.com")
          | Sponsor a Prize (let's talk!)

    footer
      .container
        .footer-bottom.row
          .col.col-md-3.col-sm-3.col-xs-3.col-lg-3
            | © 2016 Powered by <a href="https://www.rumblex.com">RumbleX</a>

          .col.col-md-6.col-sm-6.col-xs-6.col-lg-6.contact-links
            a(href="mailto:all@nodeknockout.com")
              i.icon.icon-envelope
              | all@nodeknockout.com
            a(href="http://twitter.com/nodeknockout")
              i.icon.icon-twitter
              | @nodeknockout

          .col.col-md-3.col-sm-3.col-xs-3.col-lg-3.previous-competition-links
            //- a(href="http://2010.nodeknockout.com")
            //-   | 2010
            //- a(href="http://2011.nodeknockout.com")
            //-   | 2011
            //- a(href="http://2012.nodeknockout.com")
            //-   | 2012
            //- a(href="http://2013.nodeknockout.com")
            //-   | 2013
            a(href="/entries")
              | See 2015 Entries
