extends ../layout-2013

block body
  #splash
    include ../index/_header-mini

    | <div id="mc_embed_signup">
    |   <form action="http://nodeknockout.us5.list-manage2.com/subscribe/post?u=fcdc37b83386a2769efad961d&amp;amp;id=e94fe23fd3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="validate signup-form">
    |     <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Keep me updated on Event News..." required class="email-field email">
    |     <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-super btn-primary">
    |   </form>
    | </div>
