- title('Sponsors')
extends ../layout-2013

block body

  - activeNav = "sponsors"
  .contained
    include ../index/_header-mini

  .inner-page.container.content-sponsors

    | <h1>Sponsors</h1>
    .content-block
      | <div class="copy"><p>We are actively looking for sponsors for NodeKnockout 2013.   Email us at <a href="mailto:all@nodeknockout.com">all@nodeknockout.com</a> if you are interested.</p>
    .sponsors-platinum.anchorable#platinum
      | <img src="http://nodeknockout.s3.amazonaws.com/platinum.png" alt="Platinum Sponsorship">
      | <h2>Platinum (call for details)</h2>
      .content-block
        <p>The Platinum sponsorship is our big kahuna.   We will only take a limited number of Platinum sponsors, and these sponsors will get the royal treatment:  We will link to these sponsors on every page of our site, and their logos will go out in a newsletter mailing to a very highly qualified / selected list of capable developers engaged in building the future of the web.   In addition to receiving prominent placement, Platinum sponsors also get unlimited access to ala carte sponsorships below.</p>
    hr
    .sponsors-other
      .anchorable#Service
        | <img src="http://nodeknockout.s3.amazonaws.com/service.png" alt="Service Sponsorship">
        | <h2>Offering your service to contestants:  $500</h2>
        .content-block
          | <p>During the competition, contestants will be looking for infrastructure and software as a service products to accelerate their projects. They need anything from databases and fast key-value stores to message queues and continuous integration.</p>
          | <p>Offering your service to contestants during the competition and judging is a great way to get developers using your product.</p>
          | <p>When you sponsor a service, we will promote it to developers for the competition and work with you to ensure that developers are able to use the service during the competition and judging.  If you provide an article about how to get started using your service, we will publish it on our blog.</p>
      .anchorable#job-listing
        | <img src="http://nodeknockout.s3.amazonaws.com/job-listing.png" alt="Job Listing Sponsorship">
        | <h2>Posting a Job / Gig:  $500</h2>
        .content-block
          | <p>Want to let Node Knockout participants know that you’re hiring? Then get a spot on our job list. Participants will receive an email after the competition with information about the available jobs.</p>
          | <p>In addition, any expert judges from your company will have a badge on their votes that lets participants know they are hiring. This is a great way to start a relationship with developers who may be looking for new opportunities.</p>
      .anchorable#prize
        | <img src="http://nodeknockout.s3.amazonaws.com/prize.png" alt="Prize Sponsorship">
        | <h2>Sponsoring a Prize:  $500</h2>
        .content-block
          | <p>The prize page (from previous years) is one of the most visited pages on the website.</p>
          | <p>If you’ve got a product that contestants would love to use after they’re done coding, what better way to promote it than awarding it as a prize to winners?</p>
          | <p>When you sponsor a prize, we’ll work with you to market the prize that you’re providing on the prize page.</p>
        | <hr><p>Please contact us for more details, <a href="mailto:all@nodeknockout.com">all@nodeknockout.com</a></p></div>
