extends ../layout

block body

  h1 Unauthorized (401)
  if !req.user && req.session && req.session.twitterScreenName
    - var twitterScreenName = req.session.twitterScreenName;
    - delete req.session.twitterScreenName;
    :markdown
      ## Oops!

      It looks like you tried to login as an [expert judge] with the Twitter
      login **[@#{twitterScreenName}]**.

      Unfortunately, that Twitter login was not found in our list of
      [expert judges][expert judge].

      Perhaps you meant to sign in as a [public voter]? Otherwise, if you think
      you should be an [expert judge], please [email us].

      [expert judge]: /judges
      [public voter]: /login/facebook
      [email us]: mailto:all@nodeknockout.com
      [@#{twitterScreenName}]: http://twitter.com/#{twitterScreenName}
  else
    :markdown
      You're not authorized to do whatever it is you were doing.

      **Did you mean to sign in as a [public voter]?** If you think you should be
      an [expert judge](/judges), please [email us].

      If you think you should be able to do something here, [email us] and we'll
      figure it out together.

      If you were being sneaky, then you might want peruse the [source code] first
      and if you find anything sneaky-able, send us an [issue].

      [public voter]: /login/facebook
      [expert judge]: /judges
      [email us]: mailto:all@nodeknockout.com
      [source code]: https://github.com/nko4/website
      [issue]: https://github.com/nko4/website/issues
