extends ../layout-2013

block body

  - activeNav = "judges"
  .contained
    include ../index/_header-mini

  .inner-page.container

    :markdown
      ## Nominating a Judge

      We need judges!

      Judges are expected to be high-tech insiders including: founders, CEOs,
      CTOs, VCs, journalists, open source developers, and others.

      Judges will be asked to write 2-3 sentence reviews of 5-10 entries, judging
      just functionality (not code) along 4 dimensions: utility/fun, innovation,
      completeness and design.

    | <div class="copy"><p><iframe src="https://docs.google.com/forms/d/1fIfLqima21L3MGlc74qJx1x4iahCK-GVznRW0iXjAKQ/viewform?embedded=true" width="500" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></p></div>
