franklin = 'franklin-gothic-urw',Helvetica,Arial,sans-serif
league-gothic = "league-gothic"


icon(name, width, height)
  text-indent: -9999px
  display: inline-block
  background-repeat: no-repeat
  background-image: url('/images/2013/icon-'+name+'.png')
  background-size: cover
  width: width
  height: height
