franklin = 'franklin-gothic-urw',Helvetica,Arial,sans-serif


icon(name, width, height)
  text-indent: -9999px
  display: inline-block
  background-repeat: no-repeat
  background-image: url('/images/2013/icon-'+name+'.png')
  width: width
  height: height
