@import "2013/_common"

body
  background: #fff

  a
    color: #A62B47

  // set all the fonts to franklin
  font-family: franklin
  h1,h2,h3,h4,h5,h6,p
    font-family: franklin

  .btn.btn-primary
    background: #A33247
    border-color: #AF4E60
    border-radius: 0px

  .btn-super
    text-transform: uppercase
    font-weight: bold
    font-size: 20px
    padding: 22px 25px
    letter-spacing: 1px

  hr
    border-top: 1px solid #E2E1E2

  .clear
    clear: both