body
  footer
    padding: 40px 0
    background: #E3E3E3

    .signup-form
      text-align: center
      padding: 25px 0
      margin-bottom: 20px
      input[type=email]
        font-size: 18px
        height: 74px
        vertical-align: middle
        margin: 0
        width: 500px
        padding: 20px
        margin-right: -5px
        margin-bottom: 10px
      input[type=submit]
        margin: 0
        margin-bottom: 10px

    .footer-bottom
      border-top: 1px solid #CCCCCC
      padding-top: 10px
      color: #6B6B6B

    .contact-links
      margin-top: -3px
      text-align: center
      a
        color: #921E36
        font-size: 18px
        margin: 0 15px

      i
       vertical-align: middle
       margin-right: 5px
       &.icon-twitter2
          icon("twitter2", 25px, 25px)

        &.icon-email2
          icon("email2", 25px, 25px)

    .previous-competition-links
      text-align: right
      a
        color: #4B4B4B
        margin: 0 5px
        font-weight: bold
        letter-spacing: 1px
