body
  footer
    padding: 40px 0
    background: #E3E3E3

    .signup-form
      text-align: center
      padding: 25px 0
      margin-bottom: 20px
      input[type=email]
        font-size: 18px
        height: 66px
        vertical-align: middle
        margin: 0
        width: 500px
        padding: 20px
        margin-right: -5px
        margin-bottom: 10px
        border-radius: 6px
        border-top-right-radius: 0px
        border-bottom-right-radius: 0px
        border: none

      input[type=submit]
        margin: 0
        margin-bottom: 10px
        border-radius: 4px
        border-top-left-radius: 0px
        border-bottom-left-radius: 0px
        font-weight normal
        font-size 14px

    .footer-bottom
      border-top: 1px solid #CCCCCC
      padding-top: 10px
      color: #6B6B6B

    .contact-links
      margin-top: -3px
      text-align: center
      a
        color: #CA3C48
        font-size: 17px
        margin: 0 12px

      i
        vertical-align: 0
        margin-right: 5px
        color: #CA3C48

    .previous-competition-links
      text-align: right
      a
        color: #4B4B4B
        margin: 0 5px
        font-weight: bold
        letter-spacing: 1px
