@import "2013/_common"

body
  .form-page
    margin-bottom: 4em

    .errors
      background: darkred
      color: #fff
      text-shadow: 0 0 5px #000
      padding: 10px
      list-style: none
      border-radius: 3px

    .spinner
      display: none

    .actions
      margin-top: 10px

    form.delete
      position absolute
      display none
      border solid 1px hsla(0, 0%, 0%, 0.1)
      padding 10px 20px
      border-radius 3px
      box-shadow 0px 0px 5px hsla(0, 0%, 0%, 0.2)
      background-color hsla(0, 0%, 100%, 0.9)
      p
        margin 0 0 0.5em
      text-align center

#page.teams-edit
  ol#members
    padding-left: 0

    li
      margin: 5px 0

    .avatar
      margin-right: 5px

    .remove-btn
      padding-bottom: 5px
      padding-top: 0px
      font-size: 15px
      margin-left: 5px

    .form-control
      display: inline

form.person
  input[type=text], textarea
    width 400px
  .tabular
    margin 10px 0
    > label
      display inline-block
      margin-left 0
      width 100px
    > div
      margin-left 100px
  .note
    font-size small
  .role .technical
    display none
    label
      display inline
  .twitter
    input[type=text]
      width 180px
      margin-left 0px
      display inline
    button, .running
      display none
      margin-left 1em
      font-size x-small
  .bio
    label
      vertical-align top
      margin-top 7px
    textarea
      height 12em
  .image_url
    button
      font-size small
    img.avatar
      width 80px
      height inherit
    .transloadit
      height 1px
      width 1px
      overflow hidden
