@import "2013/_common"

body
  .form-page
    margin-bottom: 4em

    .errors
      background: darkred
      color: #fff
      text-shadow: 0 0 5px #000
      padding: 10px
      list-style: none
      border-radius: 3px

    .spinner
      display: none

    .actions
      margin-top: 10px

    form.delete
      position absolute
      display none
      border solid 1px hsla(0, 0%, 0%, 0.1)
      padding 10px 20px
      border-radius 3px
      box-shadow 0px 0px 5px hsla(0, 0%, 0%, 0.2)
      background-color hsla(0, 0%, 100%, 0.9)
      p
        margin 0 0 0.5em
      text-align center

    .field
      padding: 5px 0
      margin: 5px 0
      h3
        margin-bottom: 0
      .note
        margin: 5px 0
        font-size: 12px

    .form-box
      position: relative;
      padding: 15px 15px 15px;
      margin: 0 -15px 15px;
      background-color: #fafafa;
      box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
      border-color: #e5e5e5 #eee #eee;
      border-style: solid;
      border-width: 1px 0;

    /* Tweak display of the code snippets when following an example */
    .form-box + .highlight
      margin: -15px -15px 15px;
      border-radius: 0;
      border-width: 0 0 1px;

    @media (min-width: 768px)
      .form-box
        margin-left: 0;
        margin-right: 0;
        background-color: #fff;
        border-width: 1px;
        border-color: #ddd;
        border-radius: 4px 4px 0 0;
        box-shadow: none;

      .form-box + .highlight
        margin-top: -16px;
        margin-left: 0;
        margin-right: 0;
        border-width: 1px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;


#page.teams-edit, #page.teams-new
  ol#members
    padding-left: 0

    li
      margin: 5px 0

    .avatar
      margin-right: 5px

    .remove-btn
      padding-bottom: 5px
      padding-top: 0px
      font-size: 15px
      margin-left: 5px

    .form-control
      display: inline

form.person
  input[type=text], textarea
    width 400px
  .tabular
    margin 10px 0
    > label
      display inline-block
      margin-left 0
      width 130px
  .note
    font-size small
  .role .technical
    display none
    label
      display inline
  .twitter
    input[type=text]
      width 187px
      margin-left 0px
      display inline
    button, .running
      display none
      margin-left 1em
      font-size x-small
  .linkedin
    input[type=text]
      width 158px
      margin-left 0px
      display inline
    button, .running
      display none
      margin-left 1em
      font-size x-small
  .bio
    label
      vertical-align top
      margin-top 7px
    textarea
      height 12em
  .image_url
    button
      font-size small
    img.avatar
      width 80px
      height inherit
      margin-right: 10px
    .transloadit
      height 1px
      width 1px
      overflow hidden
