@import "2013/_common"

body
  .form-page
    margin-bottom: 4em

    .errors
      background: darkred
      color: #fff
      text-shadow: 0 0 5px #000
      padding: 10px
      list-style: none
      border-radius: 3px

    ol#members
      padding-left: 0
      li
        margin: 5px 0

      .avatar
        margin-right: 5px
      .remove-btn
        padding-bottom: 5px
        padding-top: 0px
        font-size: 15px
        margin-left: 5px

    .spinner
      display: none

    .actions
      margin-top: 10px

    form.delete
      position absolute
      display none
      border solid 1px hsla(0, 0%, 0%, 0.1)
      padding 10px 20px
      border-radius 3px
      box-shadow 0px 0px 5px hsla(0, 0%, 0%, 0.2)
      background-color hsla(0, 0%, 100%, 0.9)
      p
        margin 0 0 0.5em
      text-align center
