@import "2013/_common"

body
  #header

    #header-gloves
      position: relative
      .nav-account
        position: absolute
        top: 30px
        right: 0px
        z-index: 100


    .header
      background: black
      .header-inner
        min-height: 441px
        background: url('/images/2013/gloves-bg.jpg') no-repeat center center
        position: relative
      .logo
        background: transparent url('/images/2013/nko-logo.png') no-repeat center center
        width: 393px
        height: 73px
        text-indent: -9999px
        display: block
        z-index: 100
        position: absolute
        margin-left: -196px
        left: 50%
        top: 350px

    &.affix
      position: static
      .affix-inner
        position: fixed
        left: 0
        right: 0
        top: 0
        height: 50px
        z-index: 30
        .header
          height: 50px
          overflow: hidden
          opacity: 0.96
          background-color #9F2C38
          .container
            position: relative
            max-width: 900px
        .logo
          display: none !important

        .gloves
          width: 190px
          height: 99px
          background-size: 100% 100%
          opacity: 0.3
          width: 802px;
          background-size: cover;
          z-index: 1;
          height: 500px;
          position: absolute
          top: -171px;
          left: 155px;

      .affix-placeholder
        height: 495px

  @media (max-width: 767px)
    #header
      #header-gloves .nav-account
        position: static
        padding-top: 89px
        button
          position: absolute
          top: 30px
          left: 10px
      .header
        .header-inner
          background: #353439
          min-height: 0px
          height: 100px
          .logo
            margin: auto
            left: 0
            right: 0
            top: 10px
        .affix-inner
          min-height: 0
          height: 147px
          background-size: 80%
          background-position: center center
      &.affix-top .logo-sm
        display: none

