@import "2013/_common"

body
  #header
    #header-gloves
      position: relative
      ul.account-nav
        position: absolute
        top: 30px
        right: 200px
        z-index: 100
        li
          a
            color: #fff
            font-size: 14px
            font-weight: bold
            display: block
            padding: 5px 10px
            border-radius: 3px
            &:hover
              text-decoration none
              background-color rgba(201,59,71,0.9)
              transition .3s

    .header
      background: black
      .header-inner
        min-height: 441px
        background: url('/images/2013/gloves-bg.jpg') no-repeat center center
        position: relative
      .logo
        background: transparent url('/images/2013/logo.png') no-repeat center center
        width: 175px
        height: 95px
        text-indent: -9999px
        display: block
        position: absolute
        left: 10px
        top: 28px
        z-index: 100

      .logo-sm
        background: transparent url('/images/2013/logo-sm.png') no-repeat center center
        width: 228px
        height: 48px
        text-indent: -9999px
        display: block
        position: absolute
        right: -14px
        top: 372px
        z-index: 100

    .navbar-header
      position: absolute
      right: 10px
      top: 0

    .nav-wrapper
      text-align: center
      padding: 10px 0
      nav, .nav-inner
        background: none
        .col
          position: static

      a
        display: inline-block
        margin: 2px 5px
        padding: 5px 4px
        font-family: franklin
        text-transform: uppercase
        font-size: 12px
        letter-spacing: 1px
        line-height: 1.2
        border-radius: 2px
        text-shadow: none

        color: #fff
        &:hover
          background-color: rgba(201, 59, 71, .9)
          text-decoration: none
          transition: .2s

      li.active a
        background-color: rgba(185, 46, 74, 1)

    &.affix-top
      nav, .navbar-nav
        float: none !important
        text-align: center
      nav
        padding-left: 0
        padding-right: 0
      ul, li
        display: inline-block
      .nav-wrapper
        padding-top: 8px
        padding-bottom: 0
        a
          margin: 5px 3px
          padding: 9px 13px
          padding-bottom: 3px
      .navbar-header
        position: absolute
        right: 10px
        top: 22px

    &.affix
      position: static
      .affix-inner
        position: fixed
        left: 0
        right: 0
        top: 0
        height: 50px
        z-index: 30
        .header
          height: 50px
          overflow: hidden
          opacity: 0.96
          background-color #9F2C38
          .container
            position: relative
            max-width: 900px
        .logo
          display: none !important

        .gloves
          width: 190px
          height: 99px
          background-size: 100% 100%
          opacity: 0.3
          width: 802px;
          background-size: cover;
          z-index: 1;
          height: 500px;
          position: absolute
          top: -171px;
          left: 155px;


        .header-inner

        .nav-wrapper
          position: absolute
          top: 16px
          right: -20px
          text-align: right
          z-index: 100

      .affix-placeholder
        height: 495px
      &.header-mini
        .affix-placeholder
          height: 72px

  @media (max-width: 767px)
    #header
      .nav-wrapper
        padding: 0 !important
        navbar
          border-top: 0px
          border-bottom: 0px
          li
            display: block
      .header
        .header-inner
          min-height: 0
          height: 147px
          background-size: 80%
          background-position: center center
      &.affix-top .logo-sm
        display: none
      &.affix .nav-wrapper nav
        position: absolute
        background: none

  @media (min-width: 992px)
    #header
      &.affix-top .nav-wrapper a
        margin: 3px 6px
        padding: 6px 10px
