@import "2013/_common"

body
  .header
    background: black
    box-shadow: 2px 2px 0 #DFDFDF
    .header-inner
      min-height: 441px
      background: black url('/images/2013/gloves-bg.jpg') no-repeat center center
      position: relative

    .logo
      background: transparent url('/images/2013/logo.png') no-repeat center center
      width: 175px
      height: 95px
      text-indent: -9999px
      display: block
      position: absolute
      left: 10px
      top: 28px

    .logo-sm
      background: transparent url('/images/2013/logo-sm.png') no-repeat center center
      width: 228px
      height: 48px
      text-indent: -9999px
      display: block
      position: absolute
      right: -14px
      top: 372px
