@import "2013/_common"

body
  .inner-page
    padding-top: 20px
    background: #fff
    h1, h2, h3, h4, h5, h6
      font-weight: bold
    //   font-family: "04b_03"

    max-width: 900px
    margin: auto
    p
      font-size: 18px
      line-height: 1.4

    .sponsors-platinum, .sponsors-other
      h2, p
        margin-left: 180px
    .sponsors-platinum
      img
        float: left
        margin-right: 30px

    .sponsors-other
      img
        float: left
        margin-right: 30px
        margin-left: 15px
