@import "2013/_common"

body
  .inner-page
    padding-top: 20px
    padding-bottom: 50px
    background: #fff
    h1, h2, h3, h4, h5, h6
      font-weight: bold
    h1, h2, h3
      margin-top: 10px
    .well h3
      margin-top: 0
    // max-width: 900px

    p
      font-size: 15px
      line-height: 1.4

    .sponsors-platinum, .sponsors-other
      h2, p
        margin-left: 180px
    .sponsors-platinum
      img
        float: left
        margin-right: 30px

    .sponsors-other
      img
        float: left
        margin-right: 30px
        margin-left: 15px

    .sponsors
      list-style: none
      margin: 0
      padding: 20px 0
      li
        border-top: 1px solid #eee
        margin-top: -1px
        border-bottom: 1px solid #eee
        padding: 25px 0
        clear: both
        line-height: 1.0
        img
          float: left
          margin-right: 30px

        .sponsor-description
          font-size: 14px
          margin-left: 360px

    .sponsors-btn
      float: right
      margin-left: 30px
      margin-top: 20px
      text-transform: uppercase

    .call-for-judges
      width: 100%
      margin-bottom: 20px

    ul.locations
      list-style: none
      padding: 0
      margin: 0
      li
        padding: 0
        margin: 0
        margin-bottom: 10px
        padding-bottom: 10px

    ul.sponsor-logos
      list-style: none
      padding: 0
      margin: 0
      li
        float: left
        margin-right: 3px
        margin-bottom: 3px
        img
          width: 100px
          height: 100px
          border: 1px solid #EFEFEF

    &.content-sponsors
      h2
        color: #505050
        font-weight: normal
        margin-bottom: 15px
        a
          font-size: 13px
          margin-left: 5px
      hr
        border-top: 1px solid #EEEEEE


    .jobs-list
      .btn
        float: right
      .job
        img
          float: right
          width: 100px
          height: 100px
          margin-left: 30px
          margin-bottom: 30px
          border: 1px solid #efefef

    .organizers
      padding-top: 20px

    .about-page-intro
      h1
        color: #333
      p
        font-size: 20px
        color: #555

    .about-page-more
      ul
        margin: 0
        padding-left: 15px