@import "2013/_common"

body
  .inner-page
    padding-top: 20px
    padding-bottom: 50px
    background: #fff
    h1, h2, h3, h4, h5, h6
      font-weight: bold
    h1, h2, h3
      margin-top: 10px
    .well h3
      margin-top: 0
    max-width: 900px
    margin: auto
    p
      font-size: 15px
      line-height: 1.4

    .sponsors-platinum, .sponsors-other
      h2, p
        margin-left: 180px
    .sponsors-platinum
      img
        float: left
        margin-right: 30px

    .sponsors-other
      img
        float: left
        margin-right: 30px
        margin-left: 15px

    .sponsors
      list-style: none
      margin: 0
      padding: 20px 0
      li
        border-top: 1px solid #eee
        margin-top: -1px
        border-bottom: 1px solid #eee
        padding: 25px 0
        clear: both
        line-height: 1.0
        img
          float: left
          margin-right: 30px

        .sponsor-description
          font-size: 14px
          margin-left: 360px

    .sponsors-btn
      float: right
      margin-left: 30px
      margin-top: 20px
      text-transform: uppercase

    .call-for-judges
      width: 100%
      margin-bottom: 20px