@import "2013/_common"

.judge-dashboard

  h1
    font-size: 16px
    text-transform: uppercase
    color: #606060

  .intro
    font-size: 16px
    line-height: 1.2
    color: #696969
    .well
      .btn
        margin-top: 5px
        color: #fff
      a
        color: #ca3c48
        text-decoration: none
      p
        margin: 0
    p
      margin: 0
      margin-bottom: 15px
    a
      color: #696969
      text-decoration: underline
    .judge-tally a
      text-decoration: none


  div.stars
    display inline-block
    margin-top: -1px
    .star
      display inline-block
      width 29px
      height 27px
      background transparent url(/images/stars-new.png) no-repeat 0 -27px
      cursor: pointer
      &.filled
        background transparent url(/images/stars-new.png) no-repeat 0 0

  .vote-section
    background: #FBFBFB
    border: 1px solid #DFDFDF
    border-radius: 3px
    padding: 20px

    .stars
      float: right
    .vote-category
      border-bottom: 1px solid #F2F2F2
      margin-bottom: 20px
      padding-bottom: 10px
      label
        font-size: 16px
        color: #606060
        text-transform: uppercase
      p
        font-size: 14px
        color: #696969

    .vote-comment textarea
      min-height: 80px

    .vote-actions
      margin-top: 15px
      .submit-btn
        float: left
        margin-right: 30px
    form p
      padding-top: 7px
      font-size: 16px
      a
        color: #505151