@import "2013/_common"

.judge-dashboard
  div.stars
    display inline-block
    .star
      display inline-block
      width 16px
      height 16px
      background transparent url(/images/star.png) no-repeat 0 0
      cursor: pointer
      &.filled
        background transparent url(/images/star.png) no-repeat 0 -16px
