@import "2013/_common"

body
  #landing.winners
    .header-section
      position: relative
      padding-top: 75px
      padding-bottom: 45px
      text-align: center
      .logo
        background: transparent url('/images/2013/nko-logo.png') no-repeat center center
        width: 361px
        height: 73px
        text-indent: -9999px
        display: inline-block
        z-index: 100
        margin: auto
        vertical-align: center
        position: relative
        left: auto
        top: auto
      .logo-description
        display: inline-block
        max-width: 200px
        margin-left: 10px
        color: #D1D1D1
        text-align: left
        vertical-align: -43px
        font-size: 15px
        line-height: 1.3
    .youtube-section
      padding-top: 0
    #header .header .header-inner
      height: auto !important
      margin-left: 0
      margin-right: 0

      background: #181818
      position: relative
      .header-section, #winners-widget
        z-index: 2
        position: relative
      .bg1
        background-image: url('/images/winners-bg1.png')
        background-position: 0px 0px
        background-repeat: repeat
        position: absolute
        z-index: 1
        -webkit-animation: sidewaysRight 20s linear infinite
        animation: sidewaysRight 20s linear infinite
        -moz-animation: sidewaysRight 20s linear infinite
        -ms-animation: sidewaysRight 20s linear infinite
        -o-animation: sidewaysRight 20s linear infinite
        left: 0
        right: 0
        top: 0
        bottom: 0
        width: 100%
        height: 100%
      .bg2
        background-image: url('/images/winners-bg2.png')
        background-position: 0px 0px
        background-repeat: repeat
        position: absolute
        z-index: 1
        -webkit-animation: sidewaysLeft 40s linear infinite
        animation: sidewaysLeft 40s linear infinite
        -moz-animation: sidewaysLeft 40s linear infinite
        -ms-animation: sidewaysLeft 40s linear infinite
        -o-animation: sidewaysLeft 40s linear infinite
        left: 0
        right: 0
        top: 0
        bottom: 0
        width: 100%
        height: 100%

  #winners-widget
    > .row
      margin-left: 0
      margin-right: 0
    .widget-header
      background: #971F2E
      padding: 20px 25px
      border-top-left-radius: 6px
      border-top-right-radius: 6px
      h1
        color: #fff
        font-weight: normal
        font-size: 23px
        margin: 0
        padding: 0
        a
          margin-left: 15px
          font-size: 18px
          color: rgba(255,255,255,0.5)
      .icons
        float: right
        padding-top: 2px
        img
          margin-left: 20px
    .widget-body
      background: #2F2F2F
      color: #fff
      padding-bottom: 20px

    .winner-row
      padding: 25px 10px
      border-bottom: 1px solid #414141
      margin-left: 15px
      margin-right: 15px
      &:last-child
        border-bottom: 0

      .winner-badge
        width: 205px
        float: left
        margin-right: 40px
        text-align: center
        margin-top: -50px
        img
          margin-bottom: 10px
        p
          margin: auto
          width: 150px

      .team-name
        display: block
        color: #fff
        font-size: 32px
        margin-left: 245px
        margin-bottom: 10px
        text-shadow: 0 0 5px #000
        &:hover
          text-decoration: none
          color: yellow
      .team-screenshot
        float: left
        margin-right: 40px
        width: 275px
        position: relative
        margin-bottom: 25px
        img
          width: 100%
          border: 1px solid #4F4E4E
          border-radius: 3px

        &:hover .team-actions
          opacity: 1.0
          transition: opacity .5s

        .team-actions
          position: absolute
          left: 0
          z-index: 10
          right: 0
          top: 0
          bottom: 0
          background: rgba(0,0,0,0.75)
          text-align: center
          cursor: pointer
          border-radius: 3px
          text-align: center
          opacity: 0
          display: none

          .btn
            margin-top: 20px
            margin-left: 5px
            @media screen and (max-width: 767px)
              margin-top: 0
              text-align: left
              margin-top: 10px

        .team-score
          position: static
          z-index: 11
          right: 0
          bottom: 0
          background: #BF293B
          text-align: center
          color: #fff
          width: 85px
          height: 55px
          padding: 8px 10px
          line-height: 1.1
          border-bottom-right-radius: 3px
          display: none
          .dimension
            font-size: 11px
            margin-bottom: 3px

          .number
            font-weight: bold
            font-size: 23px
            letter-spacing: 1px

      ul.members
        list-style: none
        margin 0
        padding: 0
        margin-top: 10px
        margin-bottom: 20px
        li
          display inline-block
          margin-right 2px
        img.avatar
          margin 0
          width: 45px
          height: 45px
          border-radius: 2px
          margin-right: 5px

      .team-details .description
        @media (max-width: 767px)
          clear: left
          padding: 20px
          text-align: center
