@import "2013/_common"

body.index-voting
  .sponsors-section .sponsors-sidebar
    background: #fff

    h3
      border-bottom: 0
      margin-top: 20px
      margin-bottom: 0

    .sponsor
      margin-bottom: 20px
