@import "2013/_common"

body

  #landing.coding
    background: #181818

    .landing-section
      .button-boxes .btn
        background: #232323
        &:hover
          background: #c33a46

      .countdown
        text-align: left
        .label-primary
          background: #B21B2B
        .timer
          width: auto
          text-align: left
          color: #303030
          strong
            color: #fff
            font-weight: normal

          .time-section:last-child
            strong
              color: #B21B2B


    .competition-counts
      background: #232323
      border-radius: 5px
      margin-top: 38px
      height: 94px
      overflow: hidden
      padding: 9px 15px
      text-align: center
      strong
        display: block
        font-family: league-gothic
        font-size: 49px
        font-weight: normal
        color: #979797
        line-height: 1.0
      .label-primary
        background: #B01E2F
        color: #fff
        text-transform: uppercase
        font-size: 13px
        padding: 2px 5px
        display: block
        letter-spacing: 1px
        margin-top: 3px

    .sponsors-section.landing-section
      padding: 0
      hr
        display: none