@import "2013/_common"

body

  #landing.coding
    background: #181818

    .header-section
      position: relative
      padding-top: 50px
      padding-bottom: 10px
      text-align: center
      .logo
        background: transparent url('/images/2013/nko-logo.png') no-repeat center center
        width: 393px
        height: 73px
        text-indent: -9999px
        display: inline-block
        z-index: 100
        margin: auto
        vertical-align: center
      .logo-description
        display: inline-block
        max-width: 200px
        margin-left: 10px
        color: #D1D1D1
        text-align: left
        vertical-align: -43px
        font-size: 15px
        line-height: 1.3
    .landing-section
      .button-boxes .btn
        background: #232323
        &:hover
          background: #c33a46

      .countdown
        text-align: left
        .label-primary
          background: #B21B2B
        .timer
          width: auto
          text-align: left
          color: #303030
          strong
            color: #fff
            font-weight: normal

          .time-section:last-child
            strong
              color: #B21B2B


    .competition-counts
      background: #232323
      border-radius: 5px
      margin-top: 38px
      height: 94px
      overflow: hidden
      padding: 9px 15px
      text-align: center
      strong
        display: block
        font-family: league-gothic
        font-size: 49px
        font-weight: normal
        color: #979797
        line-height: 1.0
      .label-primary
        background: #B01E2F
        color: #fff
        text-transform: uppercase
        font-size: 13px
        padding: 2px 5px
        display: block
        letter-spacing: 1px
        margin-top: 3px
    .support-section
      h3
        text-align: left
        strong
          background: #B01E2F
          color: #fff
          text-transform: uppercase
          letter-spacing: 1px
          margin-top: 3px
          padding: 5px 10px;
          letter-spacing: 1px;
          font-size: 15px;
          border-radius: 0;
      iframe
        background: #222222
      color: #fff
      text-align: left
      ul
        margin-top: 20px
        padding-left: 20px
      .button-boxes
        padding-top: 0
        .button-box
          padding-top: 0
          margin-bottom: 0
      .icon-tokbox
        background-image: url('http://live.nodeknockout.com/img/opentok-logo.png')
        background-repeat: no-repeat
        text-indent: -9999px
        width: 200px;
        height: 64px;
        margin: auto;
        margin-bottom: 14px;
        background-size: 100%;
        margin-top: 5px;
        background-image: url("http://live.nodeknockout.com/img/opentok-logo.png");
        background-repeat: no-repeat;
        text-indent: -9999px;


    .sponsors-section.landing-section
      padding: 0
      padding-top: 20px
      hr
        border-top: 1px solid #282828
        margin-bottom: 40px
      .sponsor-grid .col
        border-right: 1px solid #282828