@import "2013/_common"

.nav-account
  button, .btn
    color: #fff
    font-size: 14px
    display: block
    padding: 5px 10px
    border-radius: 3px
    background-color rgba(201,59,71,0.9)
    border none
    font-family: franklin
    img.avatar
      height: 17px
      margin-right: 7px
      border-radius: 2px
    &:hover
      text-decoration none
      transition .3s
      background-color rgba(190, 56, 67, 1)
    &.btn
      text-transform: uppercase
      font-size: 12px
      // font-weight: bold
      // padding: 10px 20px
    a
      display: block
      color #fff
      text-decoration none
