@import "2013/_common"

body
  .profile-page
    .avatar-and-role
      float: left
      margin-right: 20px
      text-align: center
      .role
        text-transform: uppercase

    h1.name
      margin-bottom: 10px

  .details
    label
      margin-right: 5px