@import "2013/_common"

body
  .profile-page
    padding-top: 20px

    ul, ol
      padding 0 // one would think this would be in the css reset

    .avatar-and-role
      float: left
      margin-right: 20px
      text-align: center
      .role
        text-transform: uppercase
      img
        max-width: 128px
      width: 128px

    .profile-content
      margin-left: 151px
      label
        margin-bottom: 0
    h1.name
      margin-bottom: 5px
      margin-top: 5px
    h2.title
      margin: 0
      margin-bottom: 10px
  .edit
    .btn
      margin-left: 5px
  .details
    label
      margin-right: 5px