@import "2013/_common"

.team-info
  .btn-super.btn-block
    max-width: 200px
    padding: 10px 20px
    float: right
    margin-left: 20px
    margin-bottom: 20px

  h2
    margin-top: 20px
    font-size: 29px
    color: #363636
    margin-bottom: 0px

  h3
    font-size: 16px
    font-weight: normal
    color: #979797
    margin-top: 0px

  .screencast
    padding-top: 20px
    padding-bottom: 20px
    .label-primary
      background: #B21B2B
      border: 0
      text-transform: uppercase
      font-size: 12px
      border-radius: 0
      letter-spacing: 1px
      padding: 3px 6px
    img
      margin: 0
    .screencast-thumb
      position: relative
      display: inline-block
      margin-top: 5px
      border: 1px solid #ddd
      .play-btn
        width: 80px
        height: 80px
        margin: auto
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        background-image: url('/images/play-btn.png')
        background-repeat: no-repeat
        display: block

  .team-content
    padding-top: 5px
    padding-bottom: 5px
    font-size: 14px
    .title
      font-weight: bold
      margin: 5px 0
      padding: 0
      font-size: 14px
      color: #333
      letter-spacing 1px
      text-transform: uppercase
    h1, h2, h3, h4, h5, h6
      font-size: 14px
      color: #444545
      font-weight: normal
    h1
      font-size: 14px
