@import "2013/_common"

body
  .team-page
    .well
      margin-bottom: 6px
    .header-box
      border-bottom: 1px solid #E4E4E4
      padding-bottom: 15px
      margin-bottom: 15px
      padding-top: 10px
      .location
        font-weight: normal
        font-size: 18px
        margin-top: 5px
      h1
        margin-top: 5px
        margin-bottom: 0
        font-weight: normal
        .locations
          font-size: 16px
          color: #999
          .sep
            margin: 0 5px
            font-size: 16px
            vertical-align: 2px
      h2
        margin-top: 3px
      .edit
        text-align: right

      .actions
        margin-top: 10px
        text-align: right

      .team-stats
        list-style: none
        text-align: left
        float: none
        margin: 0
        padding: 0
        li
          display: inline-block
          white-space: nowrap
          font-size: 16px
          color: #7E7E7E
          padding-right: 5px
          text-transform: lowercase
          .count
            font-size: 20px
            color: #363636
            font-weight: bold
            margin-right: -2px
            display: inline-block
            vertical-align: -2px

    p.accept
      text-align center
      margin auto
      float none

    .team-content
      // h2
      //   font-size: 14px
      //   font-weight: normal
      //   color: #999
      //   margin-bottom: 10px
      //   text-transform uppercase
      //   letter-spacing 1px
      .team-info-name
        display: none
      .screencast
        padding-top: 0
      .btn-super.btn-block
        max-width: 200px
        padding: 10px 20px


      .content-section
        margin-bottom: 20px
      .actions
        text-align: center
      .team-info
        .btn-super
          float: right
      ul.votes
        padding: 0

    .people
      margin-top: 10px
      list-style: none
      padding: 0
      .avatar
        margin-right: 10px
      li
        margin-bottom: 10px
        a
          background #ca3c48
          color #fff
          padding 3px 6px
          border-radius 2px
          font-size 14px
          &:hover
            text-decoration none
            transition .3s
            background #A6293E
    .screenshot
      border: 1px solid #eee
    #steps-info
      padding: 20px
      ul
        padding-left: 0
        li
          list-style: none;
          position: relative;
          padding-left: 28px;
          border-bottom: 1px solid #ddd;
          margin-bottom: 19px;
          padding-bottom: 10px;
          &:last-child
            border: none
            padding-bottom: 0
            margin-bottom: 0
      .number
        position: absolute;
        left: 1px;
        top: 0px;
        line-height: 1;
        font-size: 13px;
        background-color: #999;
        color: #fff;
        padding: 3px 5px;
      h1
        font-size: 40px
        font-family: league-gothic
        text-transform: uppercase
        color: #C33A46
        margin: 0
        margin-bottom: 20px
      h2
        margin: 0
        margin-bottom: 10px
      h3
        margin: 0
        padding: 0
        text-transform: uppercase
        font-size: 18px
        margin-bottom: 6px
      h4
        font-weight: normal
        font-size: 16px
      ol
        margin: 0
      .action-panel
        float: right
        padding-top: 0px
        margin-top: -10px
      .step
        line-height: 1.2
        .label
          margin-bottom: 10px
          display: inline-block
          font-weight: normal
          text-transform: uppercase
          line-height: 1.2
          padding: 1px 4px
          font-size: 12px
        .status
          margin-top: -10px
          strong
           font-size: 14px

      .label-danger
        background: #E05D29
      .btn
        text-transform: uppercase
      .instructions
        position: relative
        .label-default
          position: absolute
          left: 5px
          background: transparent
          color: #888
          top: 9px
        pre
          padding: 30px 10px 10px

