@import "2013/_common"

body
  .team-page
    p.accept
      text-align center
      margin auto
      float none
    .people
      margin-top: 20px
      list-style: none
      padding: 0
      .avatar
        margin-right: 10px
      li
        margin-bottom: 10px

#page.teams-edit
  #members .form-control
    display: inline
