@import "2013/_common"

body
  .team-page
    p.accept
      text-align center
      margin auto
      float none
    .people
      margin-top: 20px
      list-style: none
      padding: 0
      .avatar
        margin-right: 10px
      li
        margin-bottom: 10px
        a
          background #ca3c48
          color #fff
          padding 3px 6px
          border-radius 2px
          font-size 14px
          &:hover
            text-decoration none
            transition .3s
            background #A6293E
