.details
  - if (person.company)
    .company
      label Company:
      != markdown(person.company)
  - if (person.location)
    div
      label Location: 
      a.location( href='http://maps.google.com/?q=' + person.location )
        = person.location
  - if (person.twitterScreenName || person.githubLogin)
    div
      - if (person.twitterScreenName)
        label Twitter: 
        a.twitter( href='http://twitter.com/' + person.twitterScreenName )
          | @#{person.twitterScreenName}
    - if (person.githubLogin)
      div
        label Github:
        a.github( href='http://github.com/' + person.githubLogin )
          = person.githubLogin
  