extends ../layout-2013

block body
  - activeNav = "people"
  include ../index/_header-mini

  .inner-page.container.form-page
    h1 Edit your Profile

    form.person( method='POST', action='/people/' + person )
      input( type='hidden', name='_method', value='put' )
      include form
      p.actions
        input.btn.btn-primary( type='submit', value='Update' )
        | &nbsp;&nbsp;&nbsp;
        a( href='/people/' + person ) Cancel
        | &nbsp;
        | or
        | &nbsp;
        a.scary.remove( href='#', data-toggle="collapse", data-target=".delete-confirm" ) Delete?

    form.delete-confirm.delete( method='POST', action='/people/' + person )
      != _csrf
      input( type='hidden', name='_method', value='DELETE' )
      p Are you sure? This can't be undone.
      input.scary( type='submit', value='Delete' )
      |
      a( href='#' ) Cancel
