extends ../layout-2013

block body
  - activeNav = "login"
  .contained
    include ../index/_header-mini

  .inner-page.login-page.container
    div
      h3 Competitor Sign In
      div
        a.btn.btn-default.btn-lg.btn-primary( href='/login/github' ) 
          i.icon.icon-github
          |  with Github
    
    br    
    div
      h3 Judge and Public Voter Sign In
      a.btn.btn-default.btn-lg.btn-primary( href='/login/twitter' ) 
        i.icon.icon-twitter
        |  with Twitter
      | &nbsp;&nbsp;
      a.btn.btn-default.btn-lg.btn-primary( href='/login/facebook' ) 
        i.icon.icon-facebook
        |  with Facebook

    br
          
    //- .row
    //-   .col-md-4.col-xs-4.col-sm-4.col-lg-4
    //-     a.btn.btn-default.btn-lg.btn-primary( href='/login/github' ) Competitor
    //-     .via via&nbsp;
    //-       i.icon.icon-github
    //-       |  Github
    //- 
    //-   .col-md-4.col-xs-4.col-sm-4.col-lg-4
    //-     a.btn.btn-default.btn-lg.btn-primary( href='/login/twitter' ) Expert Judge
    //-     .via via&nbsp;
    //-       i.icon.icon-twitter
    //-       |  Twitter
    //- 
    //-   .col-md-4.col-xs-4.col-sm-4.col-lg-4
    //-     a.btn.btn-default.btn-lg.btn-primary( href='/login/facebook' ) Public Voter
    //-     .via via&nbsp;
    //-       i.icon.icon-facebook
    //-       | Facebook

    hr
    .row
      .col-md-12.col-xs-12.col-sm-12.col-lg-12
        :markdown
          ## Who do I sign in as?

          - **Competitor** — if you participated in creating an app
          - **Judge** — if you were nominated as an [expert judge](/judges)
          - **Public Voter** — if you aren't a competitor nor an expert judge

          _Questions? Issues? Email <all@nodeknockout.com>_
