module.exports = {
  github: 'github oauth app secret',
  github_setup_token: 'github personal access token'
  facebook: 'facebook oauth app secret',
  twitter: 'twitter oauth app secret',
  postageapp: 'postage app api key',
  session: 'express session key',
  url2png: 'url2png api key',
  rollbar: 'rollbar api key',
  linode: 'linode api key',
  twitterUser: {
    consumer_key: 'twitter consumer key',
    consumer_secret: 'twitter consumer secret',
    access_token: 'twitter access token key',
    access_token_secret: 'twitter access token secret'
  },
  smartdc: {
    user: 'joyent smart data center account name',
    key: 'joyent smart data center private key path'
  }
};
