module.exports = {
  github: 'github oauth app secret',
  facebook: 'facebook oauth app secret',
  twitter: 'twitter oauth app secret',
  postageapp: 'postage app api key',
  session: 'express session key',
  url2png: 'url2png api key',
  twitterUser: {
    consumer_key: 'twitter consumer key',
    consumer_secret: 'twitter consumer secret',
    access_token_key: 'twitter access token key',
    access_token_secret: 'twitter access token secret'
  }
};
